In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_12 = pd.read_csv('Diabetes-Data/data-12',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_12[patient_12['code'] == 33]

In [5]:
code34 = patient_12[patient_12['code'] == 34]

In [6]:
code35 = patient_12[patient_12['code'] == 35]

In [7]:
code48 = patient_12[patient_12['code'] == 48]

In [8]:
code57 = patient_12[patient_12['code'] == 57]

In [9]:
code58 = patient_12[patient_12['code'] == 58]

In [10]:
code59 = patient_12[patient_12['code'] == 59]

In [11]:
code60 = patient_12[patient_12['code'] == 60]

In [12]:
code61 = patient_12[patient_12['code'] == 61]

In [13]:
code62 = patient_12[patient_12['code'] == 62]

In [14]:
code63 = patient_12[patient_12['code'] == 63]

In [15]:
code64 = patient_12[patient_12['code'] == 64]

In [16]:
code65 = patient_12[patient_12['code'] == 65]

In [17]:
code66 = patient_12[patient_12['code'] == 66]

In [18]:
code67 = patient_12[patient_12['code'] == 67]

In [19]:
code68 = patient_12[patient_12['code'] == 68]

In [20]:
code69 = patient_12[patient_12['code'] == 69]

In [21]:
code70 = patient_12[patient_12['code'] == 70]

In [22]:
code71 = patient_12[patient_12['code'] == 71]

In [23]:
code72 = patient_12[patient_12['code'] == 72]

In [24]:
code71

           date   time  code  volume
16   07-23-1990  23:01    71       0
158  08-08-1990  21:59    71       0

In [25]:
rec12 = pd.read_csv('PatientRecords.csv')

In [26]:
rec12

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec12['date'] = patient_12['date']

In [28]:
rec12['id'] = 'Patient 12'

In [29]:
rec12['time'] = patient_12['time']

In [30]:
rec12['33'] = code33['volume']

In [31]:
rec12['34'] = code34['volume']

In [32]:
rec12['35'] = code35['volume']

In [33]:
rec12['48'] = code48['volume']

In [34]:
rec12['57'] = code57['volume']

In [35]:
rec12['58'] = code58['volume']

In [36]:
rec12['59'] = code59['volume']

In [37]:
rec12['60'] = code60['volume']

In [38]:
rec12['61'] = code61['volume']

In [39]:
rec12['62'] = code62['volume']

In [40]:
rec12['63'] = code63['volume']

In [41]:
rec12['64'] = code64['volume']

In [42]:
rec12['65'] = code65['volume']

In [43]:
rec12['66'] = code66['volume']

In [44]:
rec12['67'] = code67['volume']

In [45]:
rec12['68'] = code68['volume']

In [46]:
rec12['69'] = code69['volume']

In [47]:
rec12['70']  = code70['volume']

In [48]:
rec12['71'] = code71['volume']

In [49]:
rec12['72'] = code72['volume']

In [50]:
rec12

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 12,07-22-1990,09:53,NaN,36.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 12,07-22-1990,22:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,237.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 12,07-22-1990,22:29,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 12,07-22-1990,22:29,NaN,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 12,07-22-1990,22:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 12,09-04-1990,15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 12,09-04-1990,18:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 12,09-04-1990,18:18,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 12,09-04-1990,18:18,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 12,09-04-1990,18:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_12

           date   time  code  volume
0    07-22-1990  09:53    34      36
1    07-22-1990  22:27    64     237
2    07-22-1990  22:29    33       2
3    07-22-1990  22:29    34       8
4    07-22-1990  22:29    67       0
..          ...    ...   ...     ...
295  09-04-1990  15:00    64      75
296  09-04-1990  18:17    62      59
297  09-04-1990  18:18    33       2
298  09-04-1990  18:18    34       3
299  09-04-1990  18:19    65       0

[300 rows x 4 columns]

In [52]:
rec12.to_csv(r'Prec12.csv', index = False)