In [40]:
import pandas as pd

In [41]:
import csv

In [42]:
patient_02 = pd.read_csv('Diabetes-Data/data-02',sep='\t', names=['date', 'time', 'code', 'volume'])

In [43]:
patient_02

           date   time  code volume
0    10-10-1989  08:00    58    149
1    10-10-1989  08:00    33    010
2    10-10-1989  12:00    60    116
3    10-10-1989  12:00    33    004
4    10-10-1989  18:00    62    304
..          ...    ...   ...    ...
756  01-12-1990  22:00    33    016
757  01-13-1990  08:00    58    272
758  01-13-1990  08:00    33    012
759  01-13-1990  12:00    60    388
760  01-13-1990  12:00    33    006

[761 rows x 4 columns]

In [44]:
code33 = patient_02[patient_02['code'] == 33]

In [45]:
code34 = patient_02[patient_02['code'] == 34]

In [46]:
code35 = patient_02[patient_02['code'] == 35]

In [47]:
code48 = patient_02[patient_02['code'] == 48]

In [48]:
code57 = patient_02[patient_02['code'] == 57]

In [49]:
code58 = patient_02[patient_02['code'] == 58]

In [50]:
code59 = patient_02[patient_02['code'] == 59]

In [51]:
code60 = patient_02[patient_02['code'] == 60]

In [52]:
code61 = patient_02[patient_02['code'] == 61]

In [53]:
code62 = patient_02[patient_02['code'] == 62]

In [54]:
code63 = patient_02[patient_02['code'] == 63]

In [55]:
code64 = patient_02[patient_02['code'] == 64]

In [56]:
code65 = patient_02[patient_02['code'] == 65]

In [57]:
code66 = patient_02[patient_02['code'] == 66]

In [58]:
code67 = patient_02[patient_02['code'] == 67]

In [59]:
code68 = patient_02[patient_02['code'] == 68]

In [60]:
code69 = patient_02[patient_02['code'] == 69]

In [61]:
code70 = patient_02[patient_02['code'] == 70]

In [62]:
code71 = patient_02[patient_02['code'] == 71]

In [63]:
code72 = patient_02[patient_02['code'] == 72]

In [104]:
code72

Empty DataFrame
Columns: [date, time, code, volume]
Index: []

In [65]:
rec02 = pd.read_csv('PatientRecords.csv')

In [66]:
rec02

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [78]:
rec02['date'] = patient_02['date']

In [79]:
rec02['id'] = 'Patient 02'

In [80]:
rec02['time'] = patient_02['time']

In [81]:
rec02['33'] = code33['volume']

In [82]:
rec02['34'] = code34['volume']

In [83]:
rec02['35'] = code35['volume']

In [84]:
rec02['48'] = code48['volume']

In [85]:
rec02['57'] = code57['volume']

In [86]:
rec02['58'] = code58['volume']

In [87]:
rec02['59'] = code59['volume']

In [88]:
rec02['60'] = code60['volume']

In [90]:
rec02['61'] = code61['volume']

In [91]:
rec02['62'] = code62['volume']

In [92]:
rec02['63'] = code63['volume']

In [93]:
rec02['64'] = code64['volume']

In [94]:
rec02['65'] = code65['volume']

In [95]:
rec02['66'] = code66['volume']

In [96]:
rec02['67'] = code67['volume']

In [97]:
rec02['68'] = code68['volume']

In [98]:
rec02['69'] = code69['volume']

In [99]:
rec02['70']  = code70['volume']

In [100]:
rec02['71'] = code71['volume']

In [101]:
rec02['72'] = code72['volume']

In [102]:
rec02

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 02,10-10-1989,08:00,NaN,NaN,NaN,NaN,NaN,NaN,149,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 02,10-10-1989,08:00,010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 02,10-10-1989,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 02,10-10-1989,12:00,004,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 02,10-10-1989,18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
756,Patient 02,01-12-1990,22:00,016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
757,Patient 02,01-13-1990,08:00,NaN,NaN,NaN,NaN,NaN,NaN,272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758,Patient 02,01-13-1990,08:00,012,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
759,Patient 02,01-13-1990,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
760,Patient 02,01-13-1990,12:00,006,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
rec02.to_csv(r'Prec02.csv', index = False)