In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_37 = pd.read_csv('Diabetes-Data/data-37',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_37[patient_37['code'] == 33]

In [5]:
code34 = patient_37[patient_37['code'] == 34]

In [6]:
code35 = patient_37[patient_37['code'] == 35]

In [7]:
code48 = patient_37[patient_37['code'] == 48]

In [8]:
code57 = patient_37[patient_37['code'] == 57]

In [9]:
code58 = patient_37[patient_37['code'] == 58]

In [10]:
code59 = patient_37[patient_37['code'] == 59]

In [11]:
code60 = patient_37[patient_37['code'] == 60]

In [12]:
code61 = patient_37[patient_37['code'] == 61]

In [13]:
code62 = patient_37[patient_37['code'] == 62]

In [14]:
code63 = patient_37[patient_37['code'] == 63]

In [15]:
code64 = patient_37[patient_37['code'] == 64]

In [16]:
code65 = patient_37[patient_37['code'] == 65]

In [17]:
code66 = patient_37[patient_37['code'] == 66]

In [18]:
code67 = patient_37[patient_37['code'] == 67]

In [19]:
code68 = patient_37[patient_37['code'] == 68]

In [20]:
code69 = patient_37[patient_37['code'] == 69]

In [21]:
code70 = patient_37[patient_37['code'] == 70]

In [22]:
code71 = patient_37[patient_37['code'] == 71]

In [23]:
code72 = patient_37[patient_37['code'] == 72]

In [24]:
code71

           date   time  code  volume
222  05-22-1991  11:57    71       0
250  05-25-1991  11:59    71       0

In [25]:
rec37 = pd.read_csv('PatientRecords.csv')

In [26]:
rec37

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec37['date'] = patient_37['date']

In [28]:
rec37['id'] = 'Patient 37'

In [29]:
rec37['time'] = patient_37['time']

In [30]:
rec37['33'] = code33['volume']

In [31]:
rec37['34'] = code34['volume']

In [32]:
rec37['35'] = code35['volume']

In [33]:
rec37['48'] = code48['volume']

In [34]:
rec37['57'] = code57['volume']

In [35]:
rec37['58'] = code58['volume']

In [36]:
rec37['59'] = code59['volume']

In [37]:
rec37['60'] = code60['volume']

In [38]:
rec37['61'] = code61['volume']

In [39]:
rec37['62'] = code62['volume']

In [40]:
rec37['63'] = code63['volume']

In [41]:
rec37['64'] = code64['volume']

In [42]:
rec37['65'] = code65['volume']

In [43]:
rec37['66'] = code66['volume']

In [44]:
rec37['67'] = code67['volume']

In [45]:
rec37['68'] = code68['volume']

In [46]:
rec37['69'] = code69['volume']

In [47]:
rec37['70']  = code70['volume']

In [48]:
rec37['71'] = code71['volume']

In [49]:
rec37['72'] = code72['volume']

In [50]:
rec37

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 37,04-26-1991,06:17,NaN,NaN,NaN,NaN,NaN,NaN,258.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 37,04-26-1991,06:24,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 37,04-26-1991,06:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,Patient 37,04-26-1991,10:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 37,04-26-1991,10:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 37,05-29-1991,22:14,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 37,05-30-1991,07:10,NaN,NaN,NaN,NaN,NaN,NaN,171.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 37,05-30-1991,07:15,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 37,05-30-1991,11:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 37,05-30-1991,11:37,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_37

           date   time  code  volume
0    04-26-1991  06:17    58     258
1    04-26-1991  06:24    33       8
2    04-26-1991  06:24    72       0
3    04-26-1991  10:49    60     243
4    04-26-1991  10:51    72       0
..          ...    ...   ...     ...
295  05-29-1991  22:14    34       7
296  05-30-1991  07:10    58     171
297  05-30-1991  07:15    33       7
298  05-30-1991  11:34    60      90
299  05-30-1991  11:37    33       4

[300 rows x 4 columns]

In [52]:
rec37.to_csv(r'Prec37.csv', index = False)