In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_20 = pd.read_csv('Diabetes-Data/data-20',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_20[patient_20['code'] == 33]

In [5]:
code34 = patient_20[patient_20['code'] == 34]

In [6]:
code35 = patient_20[patient_20['code'] == 35]

In [7]:
code48 = patient_20[patient_20['code'] == 48]

In [8]:
code57 = patient_20[patient_20['code'] == 57]

In [9]:
code58 = patient_20[patient_20['code'] == 58]

In [10]:
code59 = patient_20[patient_20['code'] == 59]

In [11]:
code60 = patient_20[patient_20['code'] == 60]

In [12]:
code61 = patient_20[patient_20['code'] == 61]

In [13]:
code62 = patient_20[patient_20['code'] == 62]

In [14]:
code63 = patient_20[patient_20['code'] == 63]

In [15]:
code64 = patient_20[patient_20['code'] == 64]

In [16]:
code65 = patient_20[patient_20['code'] == 65]

In [17]:
code66 = patient_20[patient_20['code'] == 66]

In [18]:
code67 = patient_20[patient_20['code'] == 67]

In [19]:
code68 = patient_20[patient_20['code'] == 68]

In [20]:
code69 = patient_20[patient_20['code'] == 69]

In [21]:
code70 = patient_20[patient_20['code'] == 70]

In [22]:
code71 = patient_20[patient_20['code'] == 71]

In [23]:
code72 = patient_20[patient_20['code'] == 72]

In [24]:
code71

Empty DataFrame
Columns: [date, time, code, volume]
Index: []

In [25]:
rec20 = pd.read_csv('PatientRecords.csv')

In [26]:
rec20

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec20['date'] = patient_20['date']

In [28]:
rec20['id'] = 'Patient 20'

In [29]:
rec20['time'] = patient_20['time']

In [30]:
rec20['33'] = code33['volume']

In [31]:
rec20['34'] = code34['volume']

In [32]:
rec20['35'] = code35['volume']

In [33]:
rec20['48'] = code48['volume']

In [34]:
rec20['57'] = code57['volume']

In [35]:
rec20['58'] = code58['volume']

In [36]:
rec20['59'] = code59['volume']

In [37]:
rec20['60'] = code60['volume']

In [38]:
rec20['61'] = code61['volume']

In [39]:
rec20['62'] = code62['volume']

In [40]:
rec20['63'] = code63['volume']

In [41]:
rec20['64'] = code64['volume']

In [42]:
rec20['65'] = code65['volume']

In [43]:
rec20['66'] = code66['volume']

In [44]:
rec20['67'] = code67['volume']

In [45]:
rec20['68'] = code68['volume']

In [46]:
rec20['69'] = code69['volume']

In [47]:
rec20['70']  = code70['volume']

In [48]:
rec20['71'] = code71['volume']

In [49]:
rec20['72'] = code72['volume']

In [50]:
rec20

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 20,05-12-1991,06:55,NaN,NaN,NaN,NaN,NaN,NaN,223.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 20,05-12-1991,06:55,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 20,05-12-1991,06:55,NaN,24.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 20,05-12-1991,11:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 20,05-12-1991,11:20,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,Patient 20,09-23-1991,12:15,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,Patient 20,09-23-1991,17:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,Patient 20,09-23-1991,17:15,13.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,Patient 20,09-23-1991,21:10,NaN,NaN,NaN,NaN,256.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1002,Patient 20,09-23-1991,21:10,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_20

            date   time  code  volume
0     05-12-1991  06:55    58     223
1     05-12-1991  06:55    33       6
2     05-12-1991  06:55    34      24
3     05-12-1991  11:20    60     260
4     05-12-1991  11:20    33       8
...          ...    ...   ...     ...
998   09-23-1991  12:15    33       5
999   09-23-1991  17:15    62     264
1000  09-23-1991  17:15    33      13
1001  09-23-1991  21:10    48     256
1002  09-23-1991  21:10    33       2

[1003 rows x 4 columns]

In [52]:
rec20.to_csv(r'Prec20.csv', index = False)