In [1]:
import pandas as pd

In [2]:
import csv

In [3]:
patient_03 = pd.read_csv('Diabetes-Data/data-03',sep='\t', names=['date', 'time', 'code', 'volume'])

In [5]:
code33 = patient_03[patient_03['code'] == 33]

In [6]:
code34 = patient_03[patient_03['code'] == 34]

In [7]:
code35 = patient_03[patient_03['code'] == 35]

In [8]:
code48 = patient_03[patient_03['code'] == 48]

In [9]:
code57 = patient_03[patient_03['code'] == 57]

In [10]:
code58 = patient_03[patient_03['code'] == 58]

In [11]:
code59 = patient_03[patient_03['code'] == 59]

In [12]:
code60 = patient_03[patient_03['code'] == 60]

In [13]:
code61 = patient_03[patient_03['code'] == 61]

In [14]:
code62 = patient_03[patient_03['code'] == 62]

In [15]:
code63 = patient_03[patient_03['code'] == 63]

In [16]:
code64 = patient_03[patient_03['code'] == 64]

In [17]:
code65 = patient_03[patient_03['code'] == 65]

In [18]:
code66 = patient_03[patient_03['code'] == 66]

In [19]:
code67 = patient_03[patient_03['code'] == 67]

In [21]:
code68 = patient_03[patient_03['code'] == 68]

In [22]:
code69 = patient_03[patient_03['code'] == 69]

In [23]:
code70 = patient_03[patient_03['code'] == 70]

In [24]:
code71 = patient_03[patient_03['code'] == 71]

In [25]:
code72 = patient_03[patient_03['code'] == 72]

In [27]:
code71

Empty DataFrame
Columns: [date, time, code, volume]
Index: []

In [28]:
rec03 = pd.read_csv('PatientRecords.csv')

In [29]:
rec03

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [30]:
rec03['date'] = patient_03['date']

In [31]:
rec03['id'] = 'Patient 03'

In [32]:
rec03['time'] = patient_03['time']

In [33]:
rec03['33'] = code33['volume']

In [34]:
rec03['34'] = code34['volume']

In [35]:
rec03['35'] = code35['volume']

In [36]:
rec03['48'] = code48['volume']

In [37]:
rec03['57'] = code57['volume']

In [38]:
rec03['58'] = code58['volume']

In [39]:
rec03['59'] = code59['volume']

In [40]:
rec03['60'] = code60['volume']

In [41]:
rec03['61'] = code61['volume']

In [42]:
rec03['62'] = code62['volume']

In [43]:
rec03['63'] = code63['volume']

In [44]:
rec03['64'] = code64['volume']

In [45]:
rec03['65'] = code65['volume']

In [46]:
rec03['66'] = code66['volume']

In [47]:
rec03['67'] = code67['volume']

In [48]:
rec03['68'] = code68['volume']

In [49]:
rec03['69'] = code69['volume']

In [50]:
rec03['70']  = code70['volume']

In [51]:
rec03['71'] = code71['volume']

In [52]:
rec03['72'] = code72['volume']

In [53]:
rec03

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 03,07-21-1990,06:43,NaN,NaN,NaN,NaN,NaN,NaN,202.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 03,07-21-1990,07:03,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 03,07-21-1990,07:03,NaN,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 03,07-21-1990,08:56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 03,07-21-1990,10:57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 03,08-28-1990,06:05,NaN,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 03,08-28-1990,11:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 03,08-28-1990,14:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 03,08-28-1990,16:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 03,08-28-1990,16:55,NaN,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
patient_03

           date   time  code  volume
0    07-21-1990  06:43    58     202
1    07-21-1990  07:03    33       4
2    07-21-1990  07:03    35       9
3    07-21-1990  08:56    56     115
4    07-21-1990  10:57    60     134
..          ...    ...   ...     ...
295  08-28-1990  06:05    35       9
296  08-28-1990  11:11    60      62
297  08-28-1990  14:30    61     177
298  08-28-1990  16:53    62     140
299  08-28-1990  16:55    34       8

[300 rows x 4 columns]

In [56]:
rec03.to_csv(r'Prec03.csv', index = False)