In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_23 = pd.read_csv('Diabetes-Data/data-23',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_23[patient_23['code'] == 33]

In [5]:
code34 = patient_23[patient_23['code'] == 34]

In [6]:
code35 = patient_23[patient_23['code'] == 35]

In [7]:
code48 = patient_23[patient_23['code'] == 48]

In [8]:
code57 = patient_23[patient_23['code'] == 57]

In [9]:
code58 = patient_23[patient_23['code'] == 58]

In [10]:
code59 = patient_23[patient_23['code'] == 59]

In [11]:
code60 = patient_23[patient_23['code'] == 60]

In [12]:
code61 = patient_23[patient_23['code'] == 61]

In [13]:
code62 = patient_23[patient_23['code'] == 62]

In [14]:
code63 = patient_23[patient_23['code'] == 63]

In [15]:
code64 = patient_23[patient_23['code'] == 64]

In [16]:
code65 = patient_23[patient_23['code'] == 65]

In [17]:
code66 = patient_23[patient_23['code'] == 66]

In [18]:
code67 = patient_23[patient_23['code'] == 67]

In [19]:
code68 = patient_23[patient_23['code'] == 68]

In [20]:
code69 = patient_23[patient_23['code'] == 69]

In [21]:
code70 = patient_23[patient_23['code'] == 70]

In [22]:
code71 = patient_23[patient_23['code'] == 71]

In [23]:
code72 = patient_23[patient_23['code'] == 72]

In [24]:
code71

         date   time  code  volume
0  04-27-1991  23:02    71       0

In [25]:
rec23 = pd.read_csv('PatientRecords.csv')

In [26]:
rec23

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec23['date'] = patient_23['date']

In [28]:
rec23['id'] = 'Patient 23'

In [29]:
rec23['time'] = patient_23['time']

In [30]:
rec23['33'] = code33['volume']

In [31]:
rec23['34'] = code34['volume']

In [32]:
rec23['35'] = code35['volume']

In [33]:
rec23['48'] = code48['volume']

In [34]:
rec23['57'] = code57['volume']

In [35]:
rec23['58'] = code58['volume']

In [36]:
rec23['59'] = code59['volume']

In [37]:
rec23['60'] = code60['volume']

In [38]:
rec23['61'] = code61['volume']

In [39]:
rec23['62'] = code62['volume']

In [40]:
rec23['63'] = code63['volume']

In [41]:
rec23['64'] = code64['volume']

In [42]:
rec23['65'] = code65['volume']

In [43]:
rec23['66'] = code66['volume']

In [44]:
rec23['67'] = code67['volume']

In [45]:
rec23['68'] = code68['volume']

In [46]:
rec23['69'] = code69['volume']

In [47]:
rec23['70']  = code70['volume']

In [48]:
rec23['71'] = code71['volume']

In [49]:
rec23['72'] = code72['volume']

In [50]:
rec23

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 23,04-27-1991,23:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,Patient 23,04-28-1991,08:14,NaN,NaN,NaN,NaN,NaN,98.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 23,04-28-1991,08:15,12.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 23,04-28-1991,08:15,NaN,18.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 23,04-28-1991,08:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 23,06-14-1991,19:01,NaN,12.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 23,06-15-1991,08:54,NaN,NaN,NaN,NaN,NaN,127.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 23,06-15-1991,08:56,12.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 23,06-15-1991,08:56,NaN,20.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 23,06-15-1991,11:23,NaN,NaN,NaN,NaN,NaN,333.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_23

           date   time  code  volume
0    04-27-1991  23:02    71       0
1    04-28-1991  08:14    57      98
2    04-28-1991  08:15    33      12
3    04-28-1991  08:15    34      18
4    04-28-1991  08:17    66       0
..          ...    ...   ...     ...
295  06-14-1991  19:01    34      12
296  06-15-1991  08:54    57     127
297  06-15-1991  08:56    33      12
298  06-15-1991  08:56    34      20
299  06-15-1991  11:23    57     333

[300 rows x 4 columns]

In [52]:
rec23.to_csv(r'Prec23.csv', index = False)