In [2]:
import csv

In [3]:
import pandas as pd

In [4]:
patient_05 = pd.read_csv('Diabetes-Data/data-05',sep='\t', names=['date', 'time', 'code', 'volume'])

In [5]:
code33 = patient_05[patient_05['code'] == 33]

In [6]:
code34 = patient_05[patient_05['code'] == 34]

In [7]:
code35 = patient_05[patient_05['code'] == 35]

In [8]:
code48 = patient_05[patient_05['code'] == 48]

In [9]:
code57 = patient_05[patient_05['code'] == 57]

In [10]:
code58 = patient_05[patient_05['code'] == 58]

In [11]:
code59 = patient_05[patient_05['code'] == 59]

In [12]:
code60 = patient_05[patient_05['code'] == 60]

In [13]:
code61 = patient_05[patient_05['code'] == 61]

In [14]:
code62 = patient_05[patient_05['code'] == 62]

In [15]:
code63 = patient_05[patient_05['code'] == 63]

In [16]:
code64 = patient_05[patient_05['code'] == 64]

In [17]:
code65 = patient_05[patient_05['code'] == 65]

In [18]:
code66 = patient_05[patient_05['code'] == 66]

In [19]:
code67 = patient_05[patient_05['code'] == 67]

In [20]:
code68 = patient_05[patient_05['code'] == 68]

In [21]:
code69 = patient_05[patient_05['code'] == 69]

In [22]:
code70 = patient_05[patient_05['code'] == 70]

In [23]:
code71 = patient_05[patient_05['code'] == 71]

In [24]:
code72 = patient_05[patient_05['code'] == 72]

In [25]:
code71

Empty DataFrame
Columns: [date, time, code, volume]
Index: []

In [26]:
rec05 = pd.read_csv('PatientRecords.csv')

In [27]:
rec05

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [28]:
rec05['date'] = patient_05['date']

In [29]:
rec05['id'] = 'Patient 05'

In [30]:
rec05['time'] = patient_05['time']

In [31]:
rec05['33'] = code33['volume']

In [32]:
rec05['34'] = code34['volume']

In [33]:
rec05['35'] = code35['volume']

In [34]:
rec05['48'] = code48['volume']

In [35]:
rec05['57'] = code57['volume']

In [36]:
rec05['58'] = code58['volume']

In [37]:
rec05['59'] = code59['volume']

In [38]:
rec05['60'] = code60['volume']

In [39]:
rec05['61'] = code61['volume']

In [40]:
rec05['62'] = code62['volume']

In [41]:
rec05['63'] = code63['volume']

In [42]:
rec05['64'] = code64['volume']

In [43]:
rec05['65'] = code65['volume']

In [44]:
rec05['66'] = code66['volume']

In [45]:
rec05['67'] = code67['volume']

In [46]:
rec05['68'] = code68['volume']

In [47]:
rec05['69'] = code69['volume']

In [48]:
rec05['70']  = code70['volume']

In [49]:
rec05['71'] = code71['volume']

In [50]:
rec05['72'] = code72['volume']

In [51]:
rec05

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 05,09-01-1990,16:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 05,09-01-1990,16:51,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 05,09-01-1990,16:51,NaN,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 05,09-01-1990,22:25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,154.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 05,09-02-1990,08:01,NaN,NaN,NaN,NaN,NaN,NaN,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 05,10-11-1990,06:16,NaN,9.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 05,10-11-1990,11:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 05,10-11-1990,17:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,201.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 05,10-11-1990,17:34,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 05,10-11-1990,17:34,NaN,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
patient_05

           date   time  code  volume
0    09-01-1990  16:48    62     226
1    09-01-1990  16:51    33       1
2    09-01-1990  16:51    34       8
3    09-01-1990  22:25    64     154
4    09-02-1990  08:01    58      66
..          ...    ...   ...     ...
295  10-11-1990  06:16    34       9
296  10-11-1990  11:45    60     135
297  10-11-1990  17:32    63     201
298  10-11-1990  17:34    33       2
299  10-11-1990  17:34    34       8

[300 rows x 4 columns]

In [55]:
rec05.to_csv(r'Prec05.csv', index = False)