In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_18 = pd.read_csv('Diabetes-Data/data-18',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_18[patient_18['code'] == 33]

In [5]:
code34 = patient_18[patient_18['code'] == 34]

In [6]:
code35 = patient_18[patient_18['code'] == 35]

In [7]:
code48 = patient_18[patient_18['code'] == 48]

In [8]:
code57 = patient_18[patient_18['code'] == 57]

In [9]:
code58 = patient_18[patient_18['code'] == 58]

In [10]:
code59 = patient_18[patient_18['code'] == 59]

In [11]:
code60 = patient_18[patient_18['code'] == 60]

In [12]:
code61 = patient_18[patient_18['code'] == 61]

In [13]:
code62 = patient_18[patient_18['code'] == 62]

In [14]:
code63 = patient_18[patient_18['code'] == 63]

In [15]:
code64 = patient_18[patient_18['code'] == 64]

In [16]:
code65 = patient_18[patient_18['code'] == 65]

In [17]:
code66 = patient_18[patient_18['code'] == 66]

In [18]:
code67 = patient_18[patient_18['code'] == 67]

In [19]:
code68 = patient_18[patient_18['code'] == 68]

In [20]:
code69 = patient_18[patient_18['code'] == 69]

In [21]:
code70 = patient_18[patient_18['code'] == 70]

In [22]:
code71 = patient_18[patient_18['code'] == 71]

In [23]:
code72 = patient_18[patient_18['code'] == 72]

In [24]:
code71

         date   time  code  volume
7  08-18-1990  22:25    71       0

In [25]:
rec18 = pd.read_csv('PatientRecords.csv')

In [26]:
rec18

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec18['date'] = patient_18['date']

In [28]:
rec18['id'] = 'Patient 18'

In [29]:
rec18['time'] = patient_18['time']

In [30]:
rec18['33'] = code33['volume']

In [31]:
rec18['34'] = code34['volume']

In [32]:
rec18['35'] = code35['volume']

In [33]:
rec18['48'] = code48['volume']

In [34]:
rec18['57'] = code57['volume']

In [35]:
rec18['58'] = code58['volume']

In [36]:
rec18['59'] = code59['volume']

In [37]:
rec18['60'] = code60['volume']

In [38]:
rec18['61'] = code61['volume']

In [39]:
rec18['62'] = code62['volume']

In [40]:
rec18['63'] = code63['volume']

In [41]:
rec18['64'] = code64['volume']

In [42]:
rec18['65'] = code65['volume']

In [43]:
rec18['66'] = code66['volume']

In [44]:
rec18['67'] = code67['volume']

In [45]:
rec18['68'] = code68['volume']

In [46]:
rec18['69'] = code69['volume']

In [47]:
rec18['70']  = code70['volume']

In [48]:
rec18['71'] = code71['volume']

In [49]:
rec18['72'] = code72['volume']

In [50]:
rec18

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 18,08-18-1990,07:16,NaN,15.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 18,08-18-1990,11:57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 18,08-18-1990,17:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 18,08-18-1990,17:41,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 18,08-18-1990,22:22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,308.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 18,09-19-1990,11:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 18,09-19-1990,16:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 18,09-19-1990,16:53,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 18,09-19-1990,21:05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 18,09-19-1990,21:33,NaN,9.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_18

           date   time  code  volume
0    08-18-1990  07:16    34      15
1    08-18-1990  11:57    60     141
2    08-18-1990  17:40    62     280
3    08-18-1990  17:41    33       2
4    08-18-1990  22:22    64     308
..          ...    ...   ...     ...
295  09-19-1990  11:53    60      58
296  09-19-1990  16:51    62     112
297  09-19-1990  16:53    33       2
298  09-19-1990  21:05    64      84
299  09-19-1990  21:33    34       9

[300 rows x 4 columns]

In [52]:
rec18.to_csv(r'Prec18.csv', index = False)