In [1]:
import csv

import pandas as pd

patient_64 = pd.read_csv('Diabetes-Data/data-64',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_64[patient_64['code'] == 33]

code34 = patient_64[patient_64['code'] == 34]

code35 = patient_64[patient_64['code'] == 35]

code48 = patient_64[patient_64['code'] == 48]

code57 = patient_64[patient_64['code'] == 57]

code58 = patient_64[patient_64['code'] == 58]

code59 = patient_64[patient_64['code'] == 59]

code60 = patient_64[patient_64['code'] == 60]

code61 = patient_64[patient_64['code'] == 61]

code62 = patient_64[patient_64['code'] == 62]

code63 = patient_64[patient_64['code'] == 63]

code64 = patient_64[patient_64['code'] == 64]

code65 = patient_64[patient_64['code'] == 65]

code66 = patient_64[patient_64['code'] == 66]

code67 = patient_64[patient_64['code'] == 67]

code68 = patient_64[patient_64['code'] == 68]

code69 = patient_64[patient_64['code'] == 69]

code70 = patient_64[patient_64['code'] == 70]

code71 = patient_64[patient_64['code'] == 71]

code72 = patient_64[patient_64['code'] == 72]

code71

rec64 = pd.read_csv('PatientRecords.csv')

rec64

rec64['date'] = patient_64['date']

rec64['id'] = 'Patient 64'

rec64['time'] = patient_64['time']

rec64['33'] = code33['volume']

rec64['34'] = code34['volume']

rec64['35'] = code35['volume']

rec64['48'] = code48['volume']

rec64['57'] = code57['volume']

rec64['58'] = code58['volume']

rec64['59'] = code59['volume']

rec64['60'] = code60['volume']

rec64['61'] = code61['volume']

rec64['62'] = code62['volume']

rec64['63'] = code63['volume']

rec64['64'] = code64['volume']

rec64['65'] = code65['volume']

rec64['66'] = code66['volume']

rec64['67'] = code67['volume']

rec64['68'] = code68['volume']

rec64['69'] = code69['volume']

rec64['70']  = code70['volume']

rec64['71'] = code71['volume']

rec64['72'] = code72['volume']

rec64

patient_64

rec64.to_csv(r'Prec64.csv', index = False)

In [2]:
rec64

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 64,01-23-1990,07:30,NaN,NaN,NaN,NaN,NaN,90.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 64,01-23-1990,13:30,NaN,NaN,NaN,NaN,NaN,220.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 64,01-23-1990,17:00,NaN,NaN,NaN,NaN,NaN,190.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 64,01-23-1990,22:00,NaN,NaN,NaN,NaN,NaN,90.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 64,01-24-1990,07:30,NaN,NaN,NaN,NaN,NaN,97.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Patient 64,02-14-1990,07:00,NaN,NaN,NaN,NaN,NaN,114.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Patient 64,02-14-1990,17:30,NaN,NaN,NaN,NaN,NaN,117.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Patient 64,02-15-1990,07:00,NaN,NaN,NaN,NaN,NaN,55.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Patient 64,02-15-1990,17:00,NaN,NaN,NaN,NaN,NaN,67.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,Patient 64,02-15-1990,22:00,NaN,NaN,NaN,NaN,NaN,202.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_64

          date   time  code  volume
0   01-23-1990  07:30    57      90
1   01-23-1990  13:30    57     220
2   01-23-1990  17:00    57     190
3   01-23-1990  22:00    57      90
4   01-24-1990  07:30    57      97
..         ...    ...   ...     ...
81  02-14-1990  07:00    57     114
82  02-14-1990  17:30    57     117
83  02-15-1990  07:00    57      55
84  02-15-1990  17:00    57      67
85  02-15-1990  22:00    57     202

[86 rows x 4 columns]