In [1]:
import csv

import pandas as pd

patient_48 = pd.read_csv('Diabetes-Data/data-48',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_48[patient_48['code'] == 33]

code34 = patient_48[patient_48['code'] == 34]

code35 = patient_48[patient_48['code'] == 35]

code48 = patient_48[patient_48['code'] == 48]

code57 = patient_48[patient_48['code'] == 57]

code58 = patient_48[patient_48['code'] == 58]

code59 = patient_48[patient_48['code'] == 59]

code60 = patient_48[patient_48['code'] == 60]

code61 = patient_48[patient_48['code'] == 61]

code62 = patient_48[patient_48['code'] == 62]

code63 = patient_48[patient_48['code'] == 63]

code64 = patient_48[patient_48['code'] == 64]

code65 = patient_48[patient_48['code'] == 65]

code66 = patient_48[patient_48['code'] == 66]

code67 = patient_48[patient_48['code'] == 67]

code68 = patient_48[patient_48['code'] == 68]

code69 = patient_48[patient_48['code'] == 69]

code70 = patient_48[patient_48['code'] == 70]

code71 = patient_48[patient_48['code'] == 71]

code72 = patient_48[patient_48['code'] == 72]

code71

rec48 = pd.read_csv('PatientRecords.csv')

rec48

rec48['date'] = patient_48['date']

rec48['id'] = 'Patient 48'

rec48['time'] = patient_48['time']

rec48['33'] = code33['volume']

rec48['34'] = code34['volume']

rec48['35'] = code35['volume']

rec48['48'] = code48['volume']

rec48['57'] = code57['volume']

rec48['58'] = code58['volume']

rec48['59'] = code59['volume']

rec48['60'] = code60['volume']

rec48['61'] = code61['volume']

rec48['62'] = code62['volume']

rec48['63'] = code63['volume']

rec48['64'] = code64['volume']

rec48['65'] = code65['volume']

rec48['66'] = code66['volume']

rec48['67'] = code67['volume']

rec48['68'] = code68['volume']

rec48['69'] = code69['volume']

rec48['70']  = code70['volume']

rec48['71'] = code71['volume']

rec48['72'] = code72['volume']

rec48

patient_48

rec48.to_csv(r'Prec48.csv', index = False)

In [2]:
rec48

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 48,07-05-1991,20:47,NaN,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 48,07-06-1991,05:22,NaN,NaN,NaN,NaN,NaN,NaN,293.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 48,07-06-1991,05:24,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 48,07-06-1991,16:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 48,07-06-1991,17:58,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 48,08-07-1991,20:57,NaN,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 48,08-08-1991,06:13,NaN,NaN,NaN,NaN,NaN,NaN,264.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 48,08-08-1991,06:15,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 48,08-08-1991,06:15,NaN,20.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 48,08-08-1991,09:22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_48

           date   time  code  volume
0    07-05-1991  20:47    34       6
1    07-06-1991  05:22    58     293
2    07-06-1991  05:24    33       4
3    07-06-1991  16:32    62     136
4    07-06-1991  17:58    33       4
..          ...    ...   ...     ...
295  08-07-1991  20:57    34       6
296  08-08-1991  06:13    58     264
297  08-08-1991  06:15    33       4
298  08-08-1991  06:15    34      20
299  08-08-1991  09:22    59     258

[300 rows x 4 columns]