In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_08 = pd.read_csv('Diabetes-Data/data-08',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_08[patient_08['code'] == 33]

In [5]:
code34 = patient_08[patient_08['code'] == 34]

In [6]:
code35 = patient_08[patient_08['code'] == 35]

In [7]:
code48 = patient_08[patient_08['code'] == 48]

In [8]:
code57 = patient_08[patient_08['code'] == 57]

In [9]:
code58 = patient_08[patient_08['code'] == 58]

In [10]:
code59 = patient_08[patient_08['code'] == 59]

In [11]:
code60 = patient_08[patient_08['code'] == 60]

In [12]:
code61 = patient_08[patient_08['code'] == 61]

In [13]:
code62 = patient_08[patient_08['code'] == 62]

In [14]:
code63 = patient_08[patient_08['code'] == 63]

In [15]:
code64 = patient_08[patient_08['code'] == 64]

In [16]:
code65 = patient_08[patient_08['code'] == 65]

In [17]:
code66 = patient_08[patient_08['code'] == 66]

In [18]:
code67 = patient_08[patient_08['code'] == 67]

In [19]:
code68 = patient_08[patient_08['code'] == 68]

In [20]:
code69 = patient_08[patient_08['code'] == 69]

In [21]:
code70 = patient_08[patient_08['code'] == 70]

In [22]:
code71 = patient_08[patient_08['code'] == 71]

In [23]:
code72 = patient_08[patient_08['code'] == 72]

In [24]:
code71

Empty DataFrame
Columns: [date, time, code, volume]
Index: []

In [25]:
rec08 = pd.read_csv('PatientRecords.csv')

In [26]:
rec08

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec08['date'] = patient_08['date']

In [28]:
rec08['id'] = 'Patient 08'

In [29]:
rec08['time'] = patient_08['time']

In [30]:
rec08['33'] = code33['volume']

In [31]:
rec08['34'] = code34['volume']

In [32]:
rec08['35'] = code35['volume']

In [33]:
rec08['48'] = code48['volume']

In [34]:
rec08['57'] = code57['volume']

In [35]:
rec08['58'] = code58['volume']

In [36]:
rec08['59'] = code59['volume']

In [37]:
rec08['60'] = code60['volume']

In [38]:
rec08['61'] = code61['volume']

In [39]:
rec08['62'] = code62['volume']

In [40]:
rec08['63'] = code63['volume']

In [41]:
rec08['64'] = code64['volume']

In [42]:
rec08['65'] = code65['volume']

In [43]:
rec08['66'] = code66['volume']

In [44]:
rec08['67'] = code67['volume']

In [45]:
rec08['68'] = code68['volume']

In [46]:
rec08['69'] = code69['volume']

In [47]:
rec08['70']  = code70['volume']

In [48]:
rec08['71'] = code71['volume']

In [49]:
rec08['72'] = code72['volume']

In [50]:
rec08

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 08,07-31-1990,12:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 08,07-31-1990,17:28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 08,07-31-1990,18:41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 08,08-01-1990,05:58,NaN,NaN,NaN,NaN,NaN,NaN,222.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 08,08-01-1990,12:57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Patient 08,09-04-1990,12:15,NaN,NaN,NaN,NaN,NaN,160.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,Patient 08,09-04-1990,12:16,NaN,NaN,NaN,NaN,NaN,139.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,Patient 08,09-04-1990,15:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,Patient 08,09-04-1990,19:06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,Patient 08,09-05-1990,06:26,NaN,NaN,NaN,NaN,NaN,NaN,217.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_08

           date   time  code  volume
0    07-31-1990  12:09    60     100
1    07-31-1990  17:28    62     190
2    07-31-1990  18:41    62     124
3    08-01-1990  05:58    58     222
4    08-01-1990  12:57    60     339
..          ...    ...   ...     ...
172  09-04-1990  12:15    57     160
173  09-04-1990  12:16    57     139
174  09-04-1990  15:04    61     291
175  09-04-1990  19:06    62     124
176  09-05-1990  06:26    58     217

[177 rows x 4 columns]

In [52]:
rec08.to_csv(r'Prec08.csv', index = False)