In [1]:
import csv

import pandas as pd

patient_61 = pd.read_csv('Diabetes-Data/data-61',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_61[patient_61['code'] == 33]

code34 = patient_61[patient_61['code'] == 34]

code35 = patient_61[patient_61['code'] == 35]

code48 = patient_61[patient_61['code'] == 48]

code57 = patient_61[patient_61['code'] == 57]

code58 = patient_61[patient_61['code'] == 58]

code59 = patient_61[patient_61['code'] == 59]

code60 = patient_61[patient_61['code'] == 60]

code61 = patient_61[patient_61['code'] == 61]

code62 = patient_61[patient_61['code'] == 62]

code63 = patient_61[patient_61['code'] == 63]

code64 = patient_61[patient_61['code'] == 64]

code65 = patient_61[patient_61['code'] == 65]

code66 = patient_61[patient_61['code'] == 66]

code67 = patient_61[patient_61['code'] == 67]

code68 = patient_61[patient_61['code'] == 68]

code69 = patient_61[patient_61['code'] == 69]

code70 = patient_61[patient_61['code'] == 70]

code71 = patient_61[patient_61['code'] == 71]

code72 = patient_61[patient_61['code'] == 72]

code71

rec61 = pd.read_csv('PatientRecords.csv')

rec61

rec61['date'] = patient_61['date']

rec61['id'] = 'Patient 61'

rec61['time'] = patient_61['time']

rec61['33'] = code33['volume']

rec61['34'] = code34['volume']

rec61['35'] = code35['volume']

rec61['48'] = code48['volume']

rec61['57'] = code57['volume']

rec61['58'] = code58['volume']

rec61['59'] = code59['volume']

rec61['60'] = code60['volume']

rec61['61'] = code61['volume']

rec61['62'] = code62['volume']

rec61['63'] = code63['volume']

rec61['64'] = code64['volume']

rec61['65'] = code65['volume']

rec61['66'] = code66['volume']

rec61['67'] = code67['volume']

rec61['68'] = code68['volume']

rec61['69'] = code69['volume']

rec61['70']  = code70['volume']

rec61['71'] = code71['volume']

rec61['72'] = code72['volume']

rec61

patient_61

rec61.to_csv(r'Prec61.csv', index = False)

In [2]:
rec61

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 61,05-16-1991,20:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,205.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 61,05-16-1991,20:42,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 61,05-16-1991,20:42,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 61,05-17-1991,06:20,NaN,NaN,NaN,NaN,NaN,NaN,276.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 61,05-17-1991,06:22,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 61,06-17-1991,04:53,NaN,NaN,12.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 61,06-17-1991,11:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 61,06-17-1991,11:51,12.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 61,06-17-1991,16:31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
299,Patient 61,06-17-1991,16:31,NaN,NaN,NaN,NaN,NaN,147.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_61

           date   time  code  volume
0    05-16-1991  20:40    63     205
1    05-16-1991  20:42    33      10
2    05-16-1991  20:42    35       3
3    05-17-1991  06:20    58     276
4    05-17-1991  06:22    33       7
..          ...    ...   ...     ...
295  06-17-1991  04:53    35      12
296  06-17-1991  11:49    60     303
297  06-17-1991  11:51    33      12
298  06-17-1991  16:31    67       0
299  06-17-1991  16:31    57     147

[300 rows x 4 columns]