In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_19 = pd.read_csv('Diabetes-Data/data-19',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_19[patient_19['code'] == 33]

In [5]:
code34 = patient_19[patient_19['code'] == 34]

In [6]:
code35 = patient_19[patient_19['code'] == 35]

In [7]:
code48 = patient_19[patient_19['code'] == 48]

In [8]:
code57 = patient_19[patient_19['code'] == 57]

In [9]:
code58 = patient_19[patient_19['code'] == 58]

In [10]:
code59 = patient_19[patient_19['code'] == 59]

In [11]:
code60 = patient_19[patient_19['code'] == 60]

In [12]:
code61 = patient_19[patient_19['code'] == 61]

In [13]:
code62 = patient_19[patient_19['code'] == 62]

In [14]:
code63 = patient_19[patient_19['code'] == 63]

In [15]:
code64 = patient_19[patient_19['code'] == 64]

In [16]:
code65 = patient_19[patient_19['code'] == 65]

In [17]:
code66 = patient_19[patient_19['code'] == 66]

In [18]:
code67 = patient_19[patient_19['code'] == 67]

In [19]:
code68 = patient_19[patient_19['code'] == 68]

In [20]:
code69 = patient_19[patient_19['code'] == 69]

In [21]:
code70 = patient_19[patient_19['code'] == 70]

In [22]:
code71 = patient_19[patient_19['code'] == 71]

In [23]:
code72 = patient_19[patient_19['code'] == 72]

In [24]:
code71

           date   time  code  volume
118  09-22-1990  12:29    71       0

In [25]:
rec19 = pd.read_csv('PatientRecords.csv')

In [26]:
rec19

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec19['date'] = patient_19['date']

In [28]:
rec19['id'] = 'Patient 19'

In [29]:
rec19['time'] = patient_19['time']

In [30]:
rec19['33'] = code33['volume']

In [31]:
rec19['34'] = code34['volume']

In [32]:
rec19['35'] = code35['volume']

In [33]:
rec19['48'] = code48['volume']

In [34]:
rec19['57'] = code57['volume']

In [35]:
rec19['58'] = code58['volume']

In [36]:
rec19['59'] = code59['volume']

In [37]:
rec19['60'] = code60['volume']

In [38]:
rec19['61'] = code61['volume']

In [39]:
rec19['62'] = code62['volume']

In [40]:
rec19['63'] = code63['volume']

In [41]:
rec19['64'] = code64['volume']

In [42]:
rec19['65'] = code65['volume']

In [43]:
rec19['66'] = code66['volume']

In [44]:
rec19['67'] = code67['volume']

In [45]:
rec19['68'] = code68['volume']

In [46]:
rec19['69'] = code69['volume']

In [47]:
rec19['70']  = code70['volume']

In [48]:
rec19['71'] = code71['volume']

In [49]:
rec19['72'] = code72['volume']

In [50]:
rec19

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 19,09-09-1990,17:23,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 19,09-09-1990,21:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,122.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 19,09-09-1990,21:32,NaN,9.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 19,09-10-1990,07:12,NaN,NaN,NaN,NaN,NaN,NaN,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 19,09-10-1990,07:14,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 19,10-10-1990,16:49,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 19,10-10-1990,21:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 19,10-10-1990,21:52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 19,10-10-1990,21:53,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 19,10-10-1990,21:56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [51]:
patient_19

           date   time  code  volume
0    09-09-1990  17:23    33       2
1    09-09-1990  21:30    64     122
2    09-09-1990  21:32    34       9
3    09-10-1990  07:12    58      73
4    09-10-1990  07:14    33       1
..          ...    ...   ...     ...
295  10-10-1990  16:49    33       2
296  10-10-1990  21:49    56      62
297  10-10-1990  21:52    64      62
298  10-10-1990  21:53    34       7
299  10-10-1990  21:56    70       0

[300 rows x 4 columns]

In [52]:
rec19.to_csv(r'Prec19.csv', index = False)