In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_11 = pd.read_csv('Diabetes-Data/data-11',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_11[patient_11['code'] == 33]

In [5]:
code34 = patient_11[patient_11['code'] == 34]

In [6]:
code35 = patient_11[patient_11['code'] == 35]

In [7]:
code48 = patient_11[patient_11['code'] == 48]

In [8]:
code57 = patient_11[patient_11['code'] == 57]

In [9]:
code58 = patient_11[patient_11['code'] == 58]

In [10]:
code59 = patient_11[patient_11['code'] == 59]

In [11]:
code60 = patient_11[patient_11['code'] == 60]

In [12]:
code61 = patient_11[patient_11['code'] == 61]

In [13]:
code62 = patient_11[patient_11['code'] == 62]

In [14]:
code63 = patient_11[patient_11['code'] == 63]

In [15]:
code64 = patient_11[patient_11['code'] == 64]

In [16]:
code65 = patient_11[patient_11['code'] == 65]

In [17]:
code66 = patient_11[patient_11['code'] == 66]

In [18]:
code67 = patient_11[patient_11['code'] == 67]

In [19]:
code68 = patient_11[patient_11['code'] == 68]

In [20]:
code69 = patient_11[patient_11['code'] == 69]

In [21]:
code70 = patient_11[patient_11['code'] == 70]

In [22]:
code71 = patient_11[patient_11['code'] == 71]

In [23]:
code72 = patient_11[patient_11['code'] == 72]

In [24]:
code71

           date   time  code  volume
77   07-23-1990  23:01    71       0
219  08-08-1990  21:59    71       0

In [25]:
rec11 = pd.read_csv('PatientRecords.csv')

In [26]:
rec11

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec11['date'] = patient_11['date']

In [28]:
rec11['id'] = 'Patient 11'

In [29]:
rec11['time'] = patient_11['time']

In [30]:
rec11['33'] = code33['volume']

In [31]:
rec11['34'] = code34['volume']

In [32]:
rec11['35'] = code35['volume']

In [33]:
rec11['48'] = code48['volume']

In [34]:
rec11['57'] = code57['volume']

In [35]:
rec11['58'] = code58['volume']

In [36]:
rec11['59'] = code59['volume']

In [37]:
rec11['60'] = code60['volume']

In [38]:
rec11['61'] = code61['volume']

In [39]:
rec11['62'] = code62['volume']

In [40]:
rec11['63'] = code63['volume']

In [41]:
rec11['64'] = code64['volume']

In [42]:
rec11['65'] = code65['volume']

In [43]:
rec11['66'] = code66['volume']

In [44]:
rec11['67'] = code67['volume']

In [45]:
rec11['68'] = code68['volume']

In [46]:
rec11['69'] = code69['volume']

In [47]:
rec11['70']  = code70['volume']

In [48]:
rec11['71'] = code71['volume']

In [49]:
rec11['72'] = code72['volume']

In [50]:
rec11

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 11,07-13-1990,09:44,NaN,NaN,NaN,NaN,NaN,NaN,146.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 11,07-13-1990,09:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,Patient 11,07-13-1990,09:50,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 11,07-13-1990,09:50,NaN,36.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 11,07-16-1990,06:55,NaN,NaN,NaN,NaN,NaN,237.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,Patient 11,08-10-1990,18:48,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,Patient 11,08-10-1990,18:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
233,Patient 11,08-11-1990,09:06,NaN,NaN,NaN,NaN,NaN,NaN,259.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,Patient 11,08-11-1990,09:08,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,Patient 11,08-11-1990,09:08,NaN,34.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_11

           date   time  code  volume
0    07-13-1990  09:44    58     146
1    07-13-1990  09:45    72       0
2    07-13-1990  09:50    33       9
3    07-13-1990  09:50    34      36
4    07-16-1990  06:55    57     237
..          ...    ...   ...     ...
231  08-10-1990  18:48    34       4
232  08-10-1990  18:49    69       0
233  08-11-1990  09:06    58     259
234  08-11-1990  09:08    33      11
235  08-11-1990  09:08    34      34

[236 rows x 4 columns]

In [52]:
rec11.to_csv(r'Prec11.csv', index = False)