In [1]:
import csv

import pandas as pd

patient_41 = pd.read_csv('Diabetes-Data/data-41',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_41[patient_41['code'] == 33]

code34 = patient_41[patient_41['code'] == 34]

code35 = patient_41[patient_41['code'] == 35]

code48 = patient_41[patient_41['code'] == 48]

code57 = patient_41[patient_41['code'] == 57]

code58 = patient_41[patient_41['code'] == 58]

code59 = patient_41[patient_41['code'] == 59]

code60 = patient_41[patient_41['code'] == 60]

code61 = patient_41[patient_41['code'] == 61]

code62 = patient_41[patient_41['code'] == 62]

code63 = patient_41[patient_41['code'] == 63]

code64 = patient_41[patient_41['code'] == 64]

code65 = patient_41[patient_41['code'] == 65]

code66 = patient_41[patient_41['code'] == 66]

code67 = patient_41[patient_41['code'] == 67]

code68 = patient_41[patient_41['code'] == 68]

code69 = patient_41[patient_41['code'] == 69]

code70 = patient_41[patient_41['code'] == 70]

code71 = patient_41[patient_41['code'] == 71]

code72 = patient_41[patient_41['code'] == 72]

code71

rec41 = pd.read_csv('PatientRecords.csv')

rec41

rec41['date'] = patient_41['date']

rec41['id'] = 'Patient 41'

rec41['time'] = patient_41['time']

rec41['33'] = code33['volume']

rec41['34'] = code34['volume']

rec41['35'] = code35['volume']

rec41['48'] = code48['volume']

rec41['57'] = code57['volume']

rec41['58'] = code58['volume']

rec41['59'] = code59['volume']

rec41['60'] = code60['volume']

rec41['61'] = code61['volume']

rec41['62'] = code62['volume']

rec41['63'] = code63['volume']

rec41['64'] = code64['volume']

rec41['65'] = code65['volume']

rec41['66'] = code66['volume']

rec41['67'] = code67['volume']

rec41['68'] = code68['volume']

rec41['69'] = code69['volume']

rec41['70']  = code70['volume']

rec41['71'] = code71['volume']

rec41['72'] = code72['volume']

rec41

patient_41

rec41.to_csv(r'Prec41.csv', index = False)

In [2]:
rec41

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 41,12-16-1990,08:00,NaN,NaN,NaN,NaN,NaN,NaN,205.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 41,12-16-1990,08:00,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 41,12-16-1990,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 41,12-16-1990,12:00,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 41,12-16-1990,18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Patient 41,02-16-1991,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490,Patient 41,02-16-1991,12:00,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491,Patient 41,02-16-1991,18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
492,Patient 41,02-16-1991,18:00,16.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493,Patient 41,02-16-1991,22:00,NaN,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_41

           date   time  code  volume
0    12-16-1990  08:00    58     205
1    12-16-1990  08:00    33       8
2    12-16-1990  12:00    60      53
3    12-16-1990  12:00    33       8
4    12-16-1990  18:00    62      86
..          ...    ...   ...     ...
489  02-16-1991  12:00    60     182
490  02-16-1991  12:00    33      10
491  02-16-1991  18:00    62     205
492  02-16-1991  18:00    33      16
493  02-16-1991  22:00    34       8

[494 rows x 4 columns]