In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_31 = pd.read_csv('Diabetes-Data/data-31',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_31[patient_31['code'] == 33]

In [5]:
code34 = patient_31[patient_31['code'] == 34]

In [6]:
code35 = patient_31[patient_31['code'] == 35]

In [7]:
code48 = patient_31[patient_31['code'] == 48]

In [8]:
code57 = patient_31[patient_31['code'] == 57]

In [9]:
code58 = patient_31[patient_31['code'] == 58]

In [10]:
code59 = patient_31[patient_31['code'] == 59]

In [11]:
code60 = patient_31[patient_31['code'] == 60]

In [12]:
code61 = patient_31[patient_31['code'] == 61]

In [13]:
code62 = patient_31[patient_31['code'] == 62]

In [14]:
code63 = patient_31[patient_31['code'] == 63]

In [15]:
code64 = patient_31[patient_31['code'] == 64]

In [16]:
code65 = patient_31[patient_31['code'] == 65]

In [17]:
code66 = patient_31[patient_31['code'] == 66]

In [18]:
code67 = patient_31[patient_31['code'] == 67]

In [19]:
code68 = patient_31[patient_31['code'] == 68]

In [20]:
code69 = patient_31[patient_31['code'] == 69]

In [21]:
code70 = patient_31[patient_31['code'] == 70]

In [22]:
code71 = patient_31[patient_31['code'] == 71]

In [23]:
code72 = patient_31[patient_31['code'] == 72]

In [24]:
code71

Empty DataFrame
Columns: [date, time, code, volume]
Index: []

In [25]:
rec31 = pd.read_csv('PatientRecords.csv')

In [26]:
rec31

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec31['date'] = patient_31['date']

In [28]:
rec31['id'] = 'Patient 31'

In [29]:
rec31['time'] = patient_31['time']

In [30]:
rec31['33'] = code33['volume']

In [31]:
rec31['34'] = code34['volume']

In [32]:
rec31['35'] = code35['volume']

In [33]:
rec31['48'] = code48['volume']

In [34]:
rec31['57'] = code57['volume']

In [35]:
rec31['58'] = code58['volume']

In [36]:
rec31['59'] = code59['volume']

In [37]:
rec31['60'] = code60['volume']

In [38]:
rec31['61'] = code61['volume']

In [39]:
rec31['62'] = code62['volume']

In [40]:
rec31['63'] = code63['volume']

In [41]:
rec31['64'] = code64['volume']

In [42]:
rec31['65'] = code65['volume']

In [43]:
rec31['66'] = code66['volume']

In [44]:
rec31['67'] = code67['volume']

In [45]:
rec31['68'] = code68['volume']

In [46]:
rec31['69'] = code69['volume']

In [47]:
rec31['70']  = code70['volume']

In [48]:
rec31['71'] = code71['volume']

In [49]:
rec31['72'] = code72['volume']

In [50]:
rec31

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 31,05-20-1991,08:00,NaN,NaN,NaN,NaN,NaN,NaN,101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 31,05-20-1991,08:00,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 31,05-20-1991,08:00,NaN,27.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 31,05-20-1991,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 31,05-20-1991,12:00,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,Patient 31,08-14-1991,12:00,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
666,Patient 31,08-14-1991,18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667,Patient 31,08-14-1991,18:00,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,Patient 31,08-14-1991,22:00,NaN,NaN,NaN,NaN,265.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,Patient 31,08-15-1991,08:00,NaN,NaN,NaN,NaN,NaN,NaN,335.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_31

           date   time  code  volume
0    05-20-1991  08:00    58     101
1    05-20-1991  08:00    33       5
2    05-20-1991  08:00    34      27
3    05-20-1991  12:00    60      89
4    05-20-1991  12:00    33       3
..          ...    ...   ...     ...
665  08-14-1991  12:00    33       3
666  08-14-1991  18:00    62     209
667  08-14-1991  18:00    33       6
668  08-14-1991  22:00    48     265
669  08-15-1991  08:00    58     335

[670 rows x 4 columns]

In [52]:
rec31.to_csv(r'Prec31.csv', index = False)