In [1]:
import csv

import pandas as pd

patient_57 = pd.read_csv('Diabetes-Data/data-57',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_57[patient_57['code'] == 33]

code34 = patient_57[patient_57['code'] == 34]

code35 = patient_57[patient_57['code'] == 35]

code48 = patient_57[patient_57['code'] == 48]

code57 = patient_57[patient_57['code'] == 57]

code58 = patient_57[patient_57['code'] == 58]

code59 = patient_57[patient_57['code'] == 59]

code60 = patient_57[patient_57['code'] == 60]

code61 = patient_57[patient_57['code'] == 61]

code62 = patient_57[patient_57['code'] == 62]

code63 = patient_57[patient_57['code'] == 63]

code64 = patient_57[patient_57['code'] == 64]

code65 = patient_57[patient_57['code'] == 65]

code66 = patient_57[patient_57['code'] == 66]

code67 = patient_57[patient_57['code'] == 67]

code68 = patient_57[patient_57['code'] == 68]

code69 = patient_57[patient_57['code'] == 69]

code70 = patient_57[patient_57['code'] == 70]

code71 = patient_57[patient_57['code'] == 71]

code72 = patient_57[patient_57['code'] == 72]

code71

rec57 = pd.read_csv('PatientRecords.csv')

rec57

rec57['date'] = patient_57['date']

rec57['id'] = 'Patient 57'

rec57['time'] = patient_57['time']

rec57['33'] = code33['volume']

rec57['34'] = code34['volume']

rec57['35'] = code35['volume']

rec57['48'] = code48['volume']

rec57['57'] = code57['volume']

rec57['58'] = code58['volume']

rec57['59'] = code59['volume']

rec57['60'] = code60['volume']

rec57['61'] = code61['volume']

rec57['62'] = code62['volume']

rec57['63'] = code63['volume']

rec57['64'] = code64['volume']

rec57['65'] = code65['volume']

rec57['66'] = code66['volume']

rec57['67'] = code67['volume']

rec57['68'] = code68['volume']

rec57['69'] = code69['volume']

rec57['70']  = code70['volume']

rec57['71'] = code71['volume']

rec57['72'] = code72['volume']

rec57

patient_57

rec57.to_csv(r'Prec57.csv', index = False)

In [2]:
rec57

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 57,06-25-1990,19:16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,Patient 57,06-25-1990,19:18,NaN,NaN,NaN,NaN,NaN,103.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 57,06-25-1990,21:35,NaN,NaN,NaN,NaN,NaN,287.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 57,06-26-1990,05:38,NaN,NaN,NaN,NaN,NaN,150.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 57,06-26-1990,11:51,NaN,NaN,NaN,NaN,NaN,NaN,115.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Patient 57,08-12-1990,12:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,Patient 57,08-12-1990,12:46,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,Patient 57,08-12-1990,16:56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,Patient 57,08-12-1990,16:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
132,Patient 57,08-12-1990,16:59,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_57

           date   time  code  volume
0    06-25-1990  19:16    68       0
1    06-25-1990  19:18    57     103
2    06-25-1990  21:35    57     287
3    06-26-1990  05:38    57     150
4    06-26-1990  11:51    58     115
..          ...    ...   ...     ...
128  08-12-1990  12:44    60     153
129  08-12-1990  12:46    33       2
130  08-12-1990  16:56    62     205
131  08-12-1990  16:59    71       0
132  08-12-1990  16:59    33       5

[133 rows x 4 columns]