In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_21 = pd.read_csv('Diabetes-Data/data-21',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_21[patient_21['code'] == 33]

In [5]:
code34 = patient_21[patient_21['code'] == 34]

In [6]:
code35 = patient_21[patient_21['code'] == 35]

In [7]:
code48 = patient_21[patient_21['code'] == 48]

In [8]:
code57 = patient_21[patient_21['code'] == 57]

In [9]:
code58 = patient_21[patient_21['code'] == 58]

In [10]:
code59 = patient_21[patient_21['code'] == 59]

In [11]:
code60 = patient_21[patient_21['code'] == 60]

In [12]:
code61 = patient_21[patient_21['code'] == 61]

In [13]:
code62 = patient_21[patient_21['code'] == 62]

In [14]:
code63 = patient_21[patient_21['code'] == 63]

In [15]:
code64 = patient_21[patient_21['code'] == 64]

In [16]:
code65 = patient_21[patient_21['code'] == 65]

In [17]:
code66 = patient_21[patient_21['code'] == 66]

In [18]:
code67 = patient_21[patient_21['code'] == 67]

In [19]:
code68 = patient_21[patient_21['code'] == 68]

In [20]:
code69 = patient_21[patient_21['code'] == 69]

In [21]:
code70 = patient_21[patient_21['code'] == 70]

In [22]:
code71 = patient_21[patient_21['code'] == 71]

In [23]:
code72 = patient_21[patient_21['code'] == 72]

In [24]:
code71

Empty DataFrame
Columns: [date, time, code, volume]
Index: []

In [25]:
rec21 = pd.read_csv('PatientRecords.csv')

In [26]:
rec21

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec21['date'] = patient_21['date']

In [28]:
rec21['id'] = 'Patient 21'

In [29]:
rec21['time'] = patient_21['time']

In [30]:
rec21['33'] = code33['volume']

In [31]:
rec21['34'] = code34['volume']

In [32]:
rec21['35'] = code35['volume']

In [33]:
rec21['48'] = code48['volume']

In [34]:
rec21['57'] = code57['volume']

In [35]:
rec21['58'] = code58['volume']

In [36]:
rec21['59'] = code59['volume']

In [37]:
rec21['60'] = code60['volume']

In [38]:
rec21['61'] = code61['volume']

In [39]:
rec21['62'] = code62['volume']

In [40]:
rec21['63'] = code63['volume']

In [41]:
rec21['64'] = code64['volume']

In [42]:
rec21['65'] = code65['volume']

In [43]:
rec21['66'] = code66['volume']

In [44]:
rec21['67'] = code67['volume']

In [45]:
rec21['68'] = code68['volume']

In [46]:
rec21['69'] = code69['volume']

In [47]:
rec21['70']  = code70['volume']

In [48]:
rec21['71'] = code71['volume']

In [49]:
rec21['72'] = code72['volume']

In [50]:
rec21

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 21,09-03-1989,08:00,NaN,NaN,NaN,NaN,NaN,NaN,125.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 21,09-03-1989,08:00,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 21,09-03-1989,08:00,NaN,18.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 21,09-03-1989,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 21,09-03-1989,12:00,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,Patient 21,11-06-1989,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
513,Patient 21,11-06-1989,22:00,NaN,NaN,NaN,NaN,107.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514,Patient 21,11-05-1989,08:00,NaN,NaN,NaN,NaN,NaN,NaN,179.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
515,Patient 21,11-05-1989,18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
516,Patient 21,11-05-1989,22:00,NaN,NaN,NaN,NaN,135.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_21

           date   time  code  volume
0    09-03-1989  08:00    58     125
1    09-03-1989  08:00    33      10
2    09-03-1989  08:00    34      18
3    09-03-1989  12:00    60     193
4    09-03-1989  12:00    33      10
..          ...    ...   ...     ...
512  11-06-1989  12:00    60     194
513  11-06-1989  22:00    48     107
514  11-05-1989  08:00    58     179
515  11-05-1989  18:00    62      88
516  11-05-1989  22:00    48     135

[517 rows x 4 columns]

In [52]:
rec21.to_csv(r'Prec21.csv', index = False)