In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_40 = pd.read_csv('Diabetes-Data/data-40',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_40[patient_40['code'] == 33]

In [5]:
code34 = patient_40[patient_40['code'] == 34]

In [6]:
code35 = patient_40[patient_40['code'] == 35]

In [7]:
code48 = patient_40[patient_40['code'] == 48]

In [8]:
code57 = patient_40[patient_40['code'] == 57]

In [9]:
code58 = patient_40[patient_40['code'] == 58]

In [10]:
code59 = patient_40[patient_40['code'] == 59]

In [11]:
code60 = patient_40[patient_40['code'] == 60]

In [12]:
code61 = patient_40[patient_40['code'] == 61]

In [13]:
code62 = patient_40[patient_40['code'] == 62]

In [14]:
code63 = patient_40[patient_40['code'] == 63]

In [15]:
code64 = patient_40[patient_40['code'] == 64]

In [16]:
code65 = patient_40[patient_40['code'] == 65]

In [17]:
code66 = patient_40[patient_40['code'] == 66]

In [18]:
code67 = patient_40[patient_40['code'] == 67]

In [19]:
code68 = patient_40[patient_40['code'] == 68]

In [20]:
code69 = patient_40[patient_40['code'] == 69]

In [21]:
code70 = patient_40[patient_40['code'] == 70]

In [22]:
code71 = patient_40[patient_40['code'] == 71]

In [23]:
code72 = patient_40[patient_40['code'] == 72]

In [24]:
code71

Empty DataFrame
Columns: [date, time, code, volume]
Index: []

In [25]:
rec40 = pd.read_csv('PatientRecords.csv')

In [26]:
rec40

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec40['date'] = patient_40['date']

In [28]:
rec40['id'] = 'Patient 40'

In [29]:
rec40['time'] = patient_40['time']

In [30]:
rec40['33'] = code33['volume']

In [31]:
rec40['34'] = code34['volume']

In [32]:
rec40['35'] = code35['volume']

In [33]:
rec40['48'] = code48['volume']

In [34]:
rec40['57'] = code57['volume']

In [35]:
rec40['58'] = code58['volume']

In [36]:
rec40['59'] = code59['volume']

In [37]:
rec40['60'] = code60['volume']

In [38]:
rec40['61'] = code61['volume']

In [39]:
rec40['62'] = code62['volume']

In [40]:
rec40['63'] = code63['volume']

In [41]:
rec40['64'] = code64['volume']

In [42]:
rec40['65'] = code65['volume']

In [43]:
rec40['66'] = code66['volume']

In [44]:
rec40['67'] = code67['volume']

In [45]:
rec40['68'] = code68['volume']

In [46]:
rec40['69'] = code69['volume']

In [47]:
rec40['70']  = code70['volume']

In [48]:
rec40['71'] = code71['volume']

In [49]:
rec40['72'] = code72['volume']

In [50]:
rec40

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 40,11-01-1989,06:30,007,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 40,11-01-1989,12:00,006,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 40,11-01-1989,17:00,015,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 40,11-01-1989,21:30,NaN,009,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 40,11-01-1989,06:30,NaN,NaN,NaN,NaN,NaN,118,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,Patient 40,11-08-1989,07:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,000,NaN,NaN,NaN,NaN,NaN,NaN
102,Patient 40,11-08-1989,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,000,NaN,NaN,NaN,NaN,NaN,NaN
103,Patient 40,11-08-1989,17:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,000,NaN,NaN,NaN,NaN,NaN,NaN
104,Patient 40,11-08-1989,21:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,000,NaN,NaN,NaN,NaN,NaN,NaN
105,Patient 40,11-08-1989,16:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,000,NaN,NaN,NaN

In [51]:
patient_40

           date   time  code volume
0    11-01-1989  06:30    33    007
1    11-01-1989  12:00    33    006
2    11-01-1989  17:00    33    015
3    11-01-1989  21:30    34    009
4    11-01-1989  06:30    57    118
..          ...    ...   ...    ...
101  11-08-1989  07:00    66    000
102  11-08-1989  12:00    66    000
103  11-08-1989  17:00    66    000
104  11-08-1989  21:30    66    000
105  11-08-1989  16:00    69    000

[106 rows x 4 columns]

In [52]:
rec40.to_csv(r'Prec40.csv', index = False)