In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_38 = pd.read_csv('Diabetes-Data/data-38',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_38[patient_38['code'] == 33]

In [5]:
code34 = patient_38[patient_38['code'] == 34]

In [6]:
code35 = patient_38[patient_38['code'] == 35]

In [7]:
code48 = patient_38[patient_38['code'] == 48]

In [8]:
code57 = patient_38[patient_38['code'] == 57]

In [9]:
code58 = patient_38[patient_38['code'] == 58]

In [10]:
code59 = patient_38[patient_38['code'] == 59]

In [11]:
code60 = patient_38[patient_38['code'] == 60]

In [12]:
code61 = patient_38[patient_38['code'] == 61]

In [13]:
code62 = patient_38[patient_38['code'] == 62]

In [14]:
code63 = patient_38[patient_38['code'] == 63]

In [15]:
code64 = patient_38[patient_38['code'] == 64]

In [16]:
code65 = patient_38[patient_38['code'] == 65]

In [17]:
code66 = patient_38[patient_38['code'] == 66]

In [18]:
code67 = patient_38[patient_38['code'] == 67]

In [19]:
code68 = patient_38[patient_38['code'] == 68]

In [20]:
code69 = patient_38[patient_38['code'] == 69]

In [21]:
code70 = patient_38[patient_38['code'] == 70]

In [22]:
code71 = patient_38[patient_38['code'] == 71]

In [23]:
code72 = patient_38[patient_38['code'] == 72]

In [24]:
code71

           date   time  code  volume
30   06-14-1991  12:06    71       0
143  06-24-1991  22:33    71       0
196  06-29-1991  22:17    71       0

In [25]:
rec38 = pd.read_csv('PatientRecords.csv')

In [26]:
rec38

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec38['date'] = patient_38['date']

In [28]:
rec38['id'] = 'Patient 38'

In [29]:
rec38['time'] = patient_38['time']

In [30]:
rec38['33'] = code33['volume']

In [31]:
rec38['34'] = code34['volume']

In [32]:
rec38['35'] = code35['volume']

In [33]:
rec38['48'] = code48['volume']

In [34]:
rec38['57'] = code57['volume']

In [35]:
rec38['58'] = code58['volume']

In [36]:
rec38['59'] = code59['volume']

In [37]:
rec38['60'] = code60['volume']

In [38]:
rec38['61'] = code61['volume']

In [39]:
rec38['62'] = code62['volume']

In [40]:
rec38['63'] = code63['volume']

In [41]:
rec38['64'] = code64['volume']

In [42]:
rec38['65'] = code65['volume']

In [43]:
rec38['66'] = code66['volume']

In [44]:
rec38['67'] = code67['volume']

In [45]:
rec38['68'] = code68['volume']

In [46]:
rec38['69'] = code69['volume']

In [47]:
rec38['70']  = code70['volume']

In [48]:
rec38['71'] = code71['volume']

In [49]:
rec38['72'] = code72['volume']

In [50]:
rec38

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 38,06-11-1991,18:05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 38,06-11-1991,18:12,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 38,06-11-1991,18:12,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 38,06-11-1991,22:05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,119.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 38,06-11-1991,22:15,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 38,07-09-1991,22:11,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 38,07-10-1991,08:03,NaN,NaN,NaN,NaN,NaN,NaN,130.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 38,07-10-1991,08:15,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 38,07-10-1991,12:18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 38,07-10-1991,12:24,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_38

           date   time  code  volume
0    06-11-1991  18:05    62     157
1    06-11-1991  18:12    33       8
2    06-11-1991  18:12    34       1
3    06-11-1991  22:05    64     119
4    06-11-1991  22:15    33       2
..          ...    ...   ...     ...
295  07-09-1991  22:11    34       7
296  07-10-1991  08:03    58     130
297  07-10-1991  08:15    33       6
298  07-10-1991  12:18    60     239
299  07-10-1991  12:24    33       6

[300 rows x 4 columns]

In [52]:
rec38.to_csv(r'Prec38.csv', index = False)