In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_17 = pd.read_csv('Diabetes-Data/data-17',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_17[patient_17['code'] == 33]

In [5]:
code34 = patient_17[patient_17['code'] == 34]

In [6]:
code35 = patient_17[patient_17['code'] == 35]

In [7]:
code48 = patient_17[patient_17['code'] == 48]

In [8]:
code57 = patient_17[patient_17['code'] == 57]

In [9]:
code58 = patient_17[patient_17['code'] == 58]

In [10]:
code59 = patient_17[patient_17['code'] == 59]

In [11]:
code60 = patient_17[patient_17['code'] == 60]

In [12]:
code61 = patient_17[patient_17['code'] == 61]

In [13]:
code62 = patient_17[patient_17['code'] == 62]

In [14]:
code63 = patient_17[patient_17['code'] == 63]

In [15]:
code64 = patient_17[patient_17['code'] == 64]

In [16]:
code65 = patient_17[patient_17['code'] == 65]

In [17]:
code66 = patient_17[patient_17['code'] == 66]

In [18]:
code67 = patient_17[patient_17['code'] == 67]

In [19]:
code68 = patient_17[patient_17['code'] == 68]

In [20]:
code69 = patient_17[patient_17['code'] == 69]

In [21]:
code70 = patient_17[patient_17['code'] == 70]

In [22]:
code71 = patient_17[patient_17['code'] == 71]

In [23]:
code72 = patient_17[patient_17['code'] == 72]

In [24]:
code71

           date   time  code  volume
74   07-21-1990  17:41    71       0
88   07-22-1990  17:37    71       0
193  08-03-1990  17:07    71       0

In [25]:
rec17 = pd.read_csv('PatientRecords.csv')

In [26]:
rec17

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec17['date'] = patient_17['date']

In [28]:
rec17['id'] = 'Patient 17'

In [29]:
rec17['time'] = patient_17['time']

In [30]:
rec17['33'] = code33['volume']

In [31]:
rec17['34'] = code34['volume']

In [32]:
rec17['35'] = code35['volume']

In [33]:
rec17['48'] = code48['volume']

In [34]:
rec17['57'] = code57['volume']

In [35]:
rec17['58'] = code58['volume']

In [36]:
rec17['59'] = code59['volume']

In [37]:
rec17['60'] = code60['volume']

In [38]:
rec17['61'] = code61['volume']

In [39]:
rec17['62'] = code62['volume']

In [40]:
rec17['63'] = code63['volume']

In [41]:
rec17['64'] = code64['volume']

In [42]:
rec17['65'] = code65['volume']

In [43]:
rec17['66'] = code66['volume']

In [44]:
rec17['67'] = code67['volume']

In [45]:
rec17['68'] = code68['volume']

In [46]:
rec17['69'] = code69['volume']

In [47]:
rec17['70']  = code70['volume']

In [48]:
rec17['71'] = code71['volume']

In [49]:
rec17['72'] = code72['volume']

In [50]:
rec17

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 17,07-13-1990,09:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 17,07-13-1990,09:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2,Patient 17,07-13-1990,09:49,NaN,NaN,NaN,NaN,NaN,NaN,119.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 17,07-13-1990,09:51,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 17,07-13-1990,09:51,NaN,17.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,Patient 17,08-12-1990,19:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
247,Patient 17,08-12-1990,21:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,160.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,Patient 17,08-12-1990,21:36,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,Patient 17,08-12-1990,21:36,NaN,9.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,Patient 17,08-12-1990,21:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_17

           date   time  code  volume
0    07-13-1990  09:48    65       0
1    07-13-1990  09:48    70       0
2    07-13-1990  09:49    58     119
3    07-13-1990  09:51    33       2
4    07-13-1990  09:51    34      17
..          ...    ...   ...     ...
246  08-12-1990  19:20    70       0
247  08-12-1990  21:34    64     160
248  08-12-1990  21:36    33       1
249  08-12-1990  21:36    34       9
250  08-12-1990  21:37    56     124

[251 rows x 4 columns]

In [52]:
rec17.to_csv(r'Prec17.csv', index = False)