In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_36 = pd.read_csv('Diabetes-Data/data-36',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_36[patient_36['code'] == 33]

In [5]:
code34 = patient_36[patient_36['code'] == 34]

In [6]:
code35 = patient_36[patient_36['code'] == 35]

In [7]:
code48 = patient_36[patient_36['code'] == 48]

In [8]:
code57 = patient_36[patient_36['code'] == 57]

In [9]:
code58 = patient_36[patient_36['code'] == 58]

In [10]:
code59 = patient_36[patient_36['code'] == 59]

In [11]:
code60 = patient_36[patient_36['code'] == 60]

In [12]:
code61 = patient_36[patient_36['code'] == 61]

In [13]:
code62 = patient_36[patient_36['code'] == 62]

In [14]:
code63 = patient_36[patient_36['code'] == 63]

In [15]:
code64 = patient_36[patient_36['code'] == 64]

In [16]:
code65 = patient_36[patient_36['code'] == 65]

In [17]:
code66 = patient_36[patient_36['code'] == 66]

In [18]:
code67 = patient_36[patient_36['code'] == 67]

In [19]:
code68 = patient_36[patient_36['code'] == 68]

In [20]:
code69 = patient_36[patient_36['code'] == 69]

In [21]:
code70 = patient_36[patient_36['code'] == 70]

In [22]:
code71 = patient_36[patient_36['code'] == 71]

In [23]:
code72 = patient_36[patient_36['code'] == 72]

In [24]:
code71

          date   time  code  volume
23  04-04-1991  22:05    71       0
43  04-07-1991  21:20    71       0
77  04-11-1991  21:31    71       0
99  04-13-1991  17:16    71       0

In [25]:
rec36 = pd.read_csv('PatientRecords.csv')

In [26]:
rec36

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec36['date'] = patient_36['date']

In [28]:
rec36['id'] = 'Patient 36'

In [29]:
rec36['time'] = patient_36['time']

In [30]:
rec36['33'] = code33['volume']

In [31]:
rec36['34'] = code34['volume']

In [32]:
rec36['35'] = code35['volume']

In [33]:
rec36['48'] = code48['volume']

In [34]:
rec36['57'] = code57['volume']

In [35]:
rec36['58'] = code58['volume']

In [36]:
rec36['59'] = code59['volume']

In [37]:
rec36['60'] = code60['volume']

In [38]:
rec36['61'] = code61['volume']

In [39]:
rec36['62'] = code62['volume']

In [40]:
rec36['63'] = code63['volume']

In [41]:
rec36['64'] = code64['volume']

In [42]:
rec36['65'] = code65['volume']

In [43]:
rec36['66'] = code66['volume']

In [44]:
rec36['67'] = code67['volume']

In [45]:
rec36['68'] = code68['volume']

In [46]:
rec36['69'] = code69['volume']

In [47]:
rec36['70']  = code70['volume']

In [48]:
rec36['71'] = code71['volume']

In [49]:
rec36['72'] = code72['volume']

In [50]:
rec36

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 36,03-28-1991,15:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 36,03-28-1991,15:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,Patient 36,03-28-1991,14:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 36,04-01-1991,02:18,NaN,NaN,NaN,NaN,NaN,39.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 36,04-01-1991,02:21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Patient 36,04-30-1991,06:19,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,Patient 36,04-30-1991,11:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,Patient 36,04-30-1991,11:17,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,Patient 36,04-30-1991,17:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Patient 36,04-30-1991,17:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_36

           date   time  code  volume
0    03-28-1991  15:35    65       0
1    03-28-1991  15:35    67       0
2    03-28-1991  14:35    56     116
3    04-01-1991  02:18    57      39
4    04-01-1991  02:21    65       0
..          ...    ...   ...     ...
260  04-30-1991  06:19    33       9
261  04-30-1991  11:15    60     234
262  04-30-1991  11:17    33       6
263  04-30-1991  17:33    62      65
264  04-30-1991  17:35    65       0

[265 rows x 4 columns]

In [52]:
rec36.to_csv(r'Prec36.csv', index = False)