In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_32 = pd.read_csv('Diabetes-Data/data-32',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_32[patient_32['code'] == 33]

In [5]:
code34 = patient_32[patient_32['code'] == 34]

In [6]:
code35 = patient_32[patient_32['code'] == 35]

In [7]:
code48 = patient_32[patient_32['code'] == 48]

In [8]:
code57 = patient_32[patient_32['code'] == 57]

In [9]:
code58 = patient_32[patient_32['code'] == 58]

In [10]:
code59 = patient_32[patient_32['code'] == 59]

In [11]:
code60 = patient_32[patient_32['code'] == 60]

In [12]:
code61 = patient_32[patient_32['code'] == 61]

In [13]:
code62 = patient_32[patient_32['code'] == 62]

In [14]:
code63 = patient_32[patient_32['code'] == 63]

In [15]:
code64 = patient_32[patient_32['code'] == 64]

In [16]:
code65 = patient_32[patient_32['code'] == 65]

In [17]:
code66 = patient_32[patient_32['code'] == 66]

In [18]:
code67 = patient_32[patient_32['code'] == 67]

In [19]:
code68 = patient_32[patient_32['code'] == 68]

In [20]:
code69 = patient_32[patient_32['code'] == 69]

In [21]:
code70 = patient_32[patient_32['code'] == 70]

In [22]:
code71 = patient_32[patient_32['code'] == 71]

In [23]:
code72 = patient_32[patient_32['code'] == 72]

In [24]:
code71

           date   time  code  volume
7    07-26-1990  18:11    71       0
10   07-26-1990  22:30    71       0
22   07-27-1990  22:29    71       0
39   07-29-1990  18:15    71       0
68   07-31-1990  22:51    71       0
90   08-02-1990  18:25    71       0
114  08-04-1990  12:05    71       0
117  08-04-1990  18:19    71       0
128  08-05-1990  18:21    71       0
139  08-06-1990  17:50    71       0
151  08-07-1990  22:25    71       0
155  08-08-1990  07:33    71       0

In [25]:
rec32 = pd.read_csv('PatientRecords.csv')

In [26]:
rec32

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec32['date'] = patient_32['date']

In [28]:
rec32['id'] = 'Patient 32'

In [29]:
rec32['time'] = patient_32['time']

In [30]:
rec32['33'] = code33['volume']

In [31]:
rec32['34'] = code34['volume']

In [32]:
rec32['35'] = code35['volume']

In [33]:
rec32['48'] = code48['volume']

In [34]:
rec32['57'] = code57['volume']

In [35]:
rec32['58'] = code58['volume']

In [36]:
rec32['59'] = code59['volume']

In [37]:
rec32['60'] = code60['volume']

In [38]:
rec32['61'] = code61['volume']

In [39]:
rec32['62'] = code62['volume']

In [40]:
rec32['63'] = code63['volume']

In [41]:
rec32['64'] = code64['volume']

In [42]:
rec32['65'] = code65['volume']

In [43]:
rec32['66'] = code66['volume']

In [44]:
rec32['67'] = code67['volume']

In [45]:
rec32['68'] = code68['volume']

In [46]:
rec32['69'] = code69['volume']

In [47]:
rec32['70']  = code70['volume']

In [48]:
rec32['71'] = code71['volume']

In [49]:
rec32['72'] = code72['volume']

In [50]:
rec32

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 32,07-26-1990,12:27,NaN,NaN,NaN,NaN,NaN,175.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 32,07-26-1990,12:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 32,07-26-1990,14:09,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 32,07-26-1990,17:56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 32,07-26-1990,18:02,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Patient 32,08-07-1990,22:28,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,Patient 32,08-07-1990,22:28,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,Patient 32,08-08-1990,07:30,NaN,NaN,NaN,NaN,NaN,NaN,213.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,Patient 32,08-08-1990,07:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
156,Patient 32,08-08-1990,12:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_32

           date   time  code  volume
0    07-26-1990  12:27    57     175
1    07-26-1990  12:30    60     110
2    07-26-1990  14:09    33       5
3    07-26-1990  17:56    62     361
4    07-26-1990  18:02    33      10
..          ...    ...   ...     ...
152  08-07-1990  22:28    33       2
153  08-07-1990  22:28    34       7
154  08-08-1990  07:30    58     213
155  08-08-1990  07:33    71       0
156  08-08-1990  12:30    60     101

[157 rows x 4 columns]

In [52]:
rec32.to_csv(r'Prec32.csv', index = False)