In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_34 = pd.read_csv('Diabetes-Data/data-34',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_34[patient_34['code'] == 33]

In [5]:
code34 = patient_34[patient_34['code'] == 34]

In [6]:
code35 = patient_34[patient_34['code'] == 35]

In [7]:
code48 = patient_34[patient_34['code'] == 48]

In [8]:
code57 = patient_34[patient_34['code'] == 57]

In [9]:
code58 = patient_34[patient_34['code'] == 58]

In [10]:
code59 = patient_34[patient_34['code'] == 59]

In [11]:
code60 = patient_34[patient_34['code'] == 60]

In [12]:
code61 = patient_34[patient_34['code'] == 61]

In [13]:
code62 = patient_34[patient_34['code'] == 62]

In [14]:
code63 = patient_34[patient_34['code'] == 63]

In [15]:
code64 = patient_34[patient_34['code'] == 64]

In [16]:
code65 = patient_34[patient_34['code'] == 65]

In [17]:
code66 = patient_34[patient_34['code'] == 66]

In [18]:
code67 = patient_34[patient_34['code'] == 67]

In [19]:
code68 = patient_34[patient_34['code'] == 68]

In [20]:
code69 = patient_34[patient_34['code'] == 69]

In [21]:
code70 = patient_34[patient_34['code'] == 70]

In [22]:
code71 = patient_34[patient_34['code'] == 71]

In [23]:
code72 = patient_34[patient_34['code'] == 72]

In [24]:
code71

           date   time  code  volume
12   08-24-1990  11:51    71       0
39   08-27-1990  12:18    71       0
42   08-27-1990  18:10    71       0
68   08-30-1990  22:11    71       0
77   08-31-1990  16:59    71       0
88   09-01-1990  22:14    71       0
96   09-02-1990  22:24    71       0
115  09-04-1990  22:12    71       0
130  09-05-1990  22:22    71       0
158  09-08-1990  12:32    71       0
172  09-09-1990  12:21    71       0
177  09-09-1990  22:17    71       0
219  09-13-1990  22:34    71       0

In [25]:
rec34 = pd.read_csv('PatientRecords.csv')

In [26]:
rec34

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec34['date'] = patient_34['date']

In [28]:
rec34['id'] = 'Patient 34'

In [29]:
rec34['time'] = patient_34['time']

In [30]:
rec34['33'] = code33['volume']

In [31]:
rec34['34'] = code34['volume']

In [32]:
rec34['35'] = code35['volume']

In [33]:
rec34['48'] = code48['volume']

In [34]:
rec34['57'] = code57['volume']

In [35]:
rec34['58'] = code58['volume']

In [36]:
rec34['59'] = code59['volume']

In [37]:
rec34['60'] = code60['volume']

In [38]:
rec34['61'] = code61['volume']

In [39]:
rec34['62'] = code62['volume']

In [40]:
rec34['63'] = code63['volume']

In [41]:
rec34['64'] = code64['volume']

In [42]:
rec34['65'] = code65['volume']

In [43]:
rec34['66'] = code66['volume']

In [44]:
rec34['67'] = code67['volume']

In [45]:
rec34['68'] = code68['volume']

In [46]:
rec34['69'] = code69['volume']

In [47]:
rec34['70']  = code70['volume']

In [48]:
rec34['71'] = code71['volume']

In [49]:
rec34['72'] = code72['volume']

In [50]:
rec34

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 34,08-23-1990,07:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 34,08-23-1990,07:23,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 34,08-23-1990,12:16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 34,08-23-1990,12:35,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 34,08-23-1990,17:43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 34,09-21-1990,17:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 34,09-21-1990,17:18,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 34,09-21-1990,22:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 34,09-21-1990,22:11,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 34,09-21-1990,22:11,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_34

           date   time  code  volume
0    08-23-1990  07:19    59     219
1    08-23-1990  07:23    33       7
2    08-23-1990  12:16    60     119
3    08-23-1990  12:35    33       5
4    08-23-1990  17:43    62      74
..          ...    ...   ...     ...
295  09-21-1990  17:15    62     136
296  09-21-1990  17:18    33       7
297  09-21-1990  22:04    64      87
298  09-21-1990  22:11    33       2
299  09-21-1990  22:11    34       5

[300 rows x 4 columns]

In [52]:
rec34.to_csv(r'Prec34.csv', index = False)