In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_16 = pd.read_csv('Diabetes-Data/data-16',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_16[patient_16['code'] == 33]

In [5]:
code34 = patient_16[patient_16['code'] == 34]

In [6]:
code35 = patient_16[patient_16['code'] == 35]

In [7]:
code48 = patient_16[patient_16['code'] == 48]

In [8]:
code57 = patient_16[patient_16['code'] == 57]

In [9]:
code58 = patient_16[patient_16['code'] == 58]

In [10]:
code59 = patient_16[patient_16['code'] == 59]

In [11]:
code60 = patient_16[patient_16['code'] == 60]

In [12]:
code61 = patient_16[patient_16['code'] == 61]

In [13]:
code62 = patient_16[patient_16['code'] == 62]

In [14]:
code63 = patient_16[patient_16['code'] == 63]

In [15]:
code64 = patient_16[patient_16['code'] == 64]

In [16]:
code65 = patient_16[patient_16['code'] == 65]

In [17]:
code66 = patient_16[patient_16['code'] == 66]

In [18]:
code67 = patient_16[patient_16['code'] == 67]

In [19]:
code68 = patient_16[patient_16['code'] == 68]

In [20]:
code69 = patient_16[patient_16['code'] == 69]

In [21]:
code70 = patient_16[patient_16['code'] == 70]

In [22]:
code71 = patient_16[patient_16['code'] == 71]

In [23]:
code72 = patient_16[patient_16['code'] == 72]

In [24]:
code71

           date   time  code  volume
243  07-05-1991  19:30    71       0

In [25]:
rec16 = pd.read_csv('PatientRecords.csv')

In [26]:
rec16

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec16['date'] = patient_16['date']

In [28]:
rec16['id'] = 'Patient 16'

In [29]:
rec16['time'] = patient_16['time']

In [30]:
rec16['33'] = code33['volume']

In [31]:
rec16['34'] = code34['volume']

In [32]:
rec16['35'] = code35['volume']

In [33]:
rec16['48'] = code48['volume']

In [34]:
rec16['57'] = code57['volume']

In [35]:
rec16['58'] = code58['volume']

In [36]:
rec16['59'] = code59['volume']

In [37]:
rec16['60'] = code60['volume']

In [38]:
rec16['61'] = code61['volume']

In [39]:
rec16['62'] = code62['volume']

In [40]:
rec16['63'] = code63['volume']

In [41]:
rec16['64'] = code64['volume']

In [42]:
rec16['65'] = code65['volume']

In [43]:
rec16['66'] = code66['volume']

In [44]:
rec16['67'] = code67['volume']

In [45]:
rec16['68'] = code68['volume']

In [46]:
rec16['69'] = code69['volume']

In [47]:
rec16['70']  = code70['volume']

In [48]:
rec16['71'] = code71['volume']

In [49]:
rec16['72'] = code72['volume']

In [50]:
rec16

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 16,05-22-1991,07:24,NaN,31.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 16,05-22-1991,18:22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 16,05-22-1991,18:24,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 16,05-22-1991,18:24,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 16,05-23-1991,07:21,NaN,NaN,NaN,NaN,NaN,NaN,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 16,07-16-1991,21:38,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 16,07-17-1991,07:19,NaN,NaN,NaN,NaN,NaN,NaN,107.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 16,07-17-1991,07:21,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 16,07-17-1991,07:21,NaN,31.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 16,07-17-1991,09:28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_16

           date   time  code  volume
0    05-22-1991  07:24    34      31
1    05-22-1991  18:22    62     179
2    05-22-1991  18:24    33       3
3    05-22-1991  18:24    34       3
4    05-23-1991  07:21    58      84
..          ...    ...   ...     ...
295  07-16-1991  21:38    34       5
296  07-17-1991  07:19    58     107
297  07-17-1991  07:21    33       5
298  07-17-1991  07:21    34      31
299  07-17-1991  09:28    59     339

[300 rows x 4 columns]

In [52]:
rec16.to_csv(r'Prec16.csv', index = False)