In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_33 = pd.read_csv('Diabetes-Data/data-33',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_33[patient_33['code'] == 33]

In [5]:
code34 = patient_33[patient_33['code'] == 34]

In [6]:
code35 = patient_33[patient_33['code'] == 35]

In [7]:
code48 = patient_33[patient_33['code'] == 48]

In [8]:
code57 = patient_33[patient_33['code'] == 57]

In [9]:
code58 = patient_33[patient_33['code'] == 58]

In [10]:
code59 = patient_33[patient_33['code'] == 59]

In [11]:
code60 = patient_33[patient_33['code'] == 60]

In [12]:
code61 = patient_33[patient_33['code'] == 61]

In [13]:
code62 = patient_33[patient_33['code'] == 62]

In [14]:
code63 = patient_33[patient_33['code'] == 63]

In [15]:
code64 = patient_33[patient_33['code'] == 64]

In [16]:
code65 = patient_33[patient_33['code'] == 65]

In [17]:
code66 = patient_33[patient_33['code'] == 66]

In [18]:
code67 = patient_33[patient_33['code'] == 67]

In [19]:
code68 = patient_33[patient_33['code'] == 68]

In [20]:
code69 = patient_33[patient_33['code'] == 69]

In [21]:
code70 = patient_33[patient_33['code'] == 70]

In [22]:
code71 = patient_33[patient_33['code'] == 71]

In [23]:
code72 = patient_33[patient_33['code'] == 72]

In [24]:
code71

           date   time  code  volume
2    07-31-1990  22:51    71       0
24   08-02-1990  18:25    71       0
48   08-04-1990  12:05    71       0
51   08-04-1990  18:19    71       0
62   08-05-1990  18:21    71       0
73   08-06-1990  17:50    71       0
85   08-07-1990  22:25    71       0
89   08-08-1990  07:33    71       0
133  08-12-1990  12:33    71       0
139  08-13-1990  12:21    71       0
152  08-14-1990  11:47    71       0
164  08-15-1990  17:54    71       0
171  08-16-1990  12:24    71       0
174  08-16-1990  18:21    71       0
189  08-17-1990  22:12    71       0
234  08-22-1990  12:20    71       0
254  08-24-1990  11:51    71       0
281  08-27-1990  12:18    71       0
284  08-27-1990  18:10    71       0

In [25]:
rec33 = pd.read_csv('PatientRecords.csv')

In [26]:
rec33

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec33['date'] = patient_33['date']

In [28]:
rec33['id'] = 'Patient 33'

In [29]:
rec33['time'] = patient_33['time']

In [30]:
rec33['33'] = code33['volume']

In [31]:
rec33['34'] = code34['volume']

In [32]:
rec33['35'] = code35['volume']

In [33]:
rec33['48'] = code48['volume']

In [34]:
rec33['57'] = code57['volume']

In [35]:
rec33['58'] = code58['volume']

In [36]:
rec33['59'] = code59['volume']

In [37]:
rec33['60'] = code60['volume']

In [38]:
rec33['61'] = code61['volume']

In [39]:
rec33['62'] = code62['volume']

In [40]:
rec33['63'] = code63['volume']

In [41]:
rec33['64'] = code64['volume']

In [42]:
rec33['65'] = code65['volume']

In [43]:
rec33['66'] = code66['volume']

In [44]:
rec33['67'] = code67['volume']

In [45]:
rec33['68'] = code68['volume']

In [46]:
rec33['69'] = code69['volume']

In [47]:
rec33['70']  = code70['volume']

In [48]:
rec33['71'] = code71['volume']

In [49]:
rec33['72'] = code72['volume']

In [50]:
rec33

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 33,07-31-1990,18:28,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 33,07-31-1990,22:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,320.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 33,07-31-1990,22:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3,Patient 33,07-31-1990,22:51,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 33,07-31-1990,22:51,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 33,08-29-1990,07:03,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 33,08-29-1990,12:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 33,08-29-1990,12:42,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 33,08-29-1990,18:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 33,08-29-1990,18:11,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_33

           date   time  code  volume
0    07-31-1990  18:28    34       1
1    07-31-1990  22:49    63     320
2    07-31-1990  22:51    71       0
3    07-31-1990  22:51    33       3
4    07-31-1990  22:51    34       7
..          ...    ...   ...     ...
295  08-29-1990  07:03    33       6
296  08-29-1990  12:39    60     159
297  08-29-1990  12:42    33       5
298  08-29-1990  18:10    62      92
299  08-29-1990  18:11    33       6

[300 rows x 4 columns]

In [52]:
rec33.to_csv(r'Prec33.csv', index = False)