In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_06 = pd.read_csv('Diabetes-Data/data-06',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_06[patient_06['code'] == 33]

In [5]:
code34 = patient_06[patient_06['code'] == 34]

In [6]:
code35 = patient_06[patient_06['code'] == 35]

In [7]:
code48 = patient_06[patient_06['code'] == 48]

In [8]:
code57 = patient_06[patient_06['code'] == 57]

In [9]:
code58 = patient_06[patient_06['code'] == 58]

In [10]:
code59 = patient_06[patient_06['code'] == 59]

In [11]:
code60 = patient_06[patient_06['code'] == 60]

In [12]:
code61 = patient_06[patient_06['code'] == 61]

In [13]:
code62 = patient_06[patient_06['code'] == 62]

In [14]:
code63 = patient_06[patient_06['code'] == 63]

In [15]:
code64 = patient_06[patient_06['code'] == 64]

In [16]:
code65 = patient_06[patient_06['code'] == 65]

In [17]:
code66 = patient_06[patient_06['code'] == 66]

In [18]:
code67 = patient_06[patient_06['code'] == 67]

In [19]:
code68 = patient_06[patient_06['code'] == 68]

In [20]:
code69 = patient_06[patient_06['code'] == 69]

In [21]:
code70 = patient_06[patient_06['code'] == 70]

In [22]:
code71 = patient_06[patient_06['code'] == 71]

In [23]:
code72 = patient_06[patient_06['code'] == 72]

In [31]:
code71

Empty DataFrame
Columns: [date, time, code, volume]
Index: []

In [32]:
rec06 = pd.read_csv('PatientRecords.csv')

In [33]:
rec06

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [34]:
rec06['date'] = patient_06['date']

In [35]:
rec06['id'] = 'Patient 06'

In [36]:
rec06['time'] = patient_06['time']

In [37]:
rec06['33'] = code33['volume']

In [38]:
rec06['34'] = code34['volume']

In [39]:
rec06['35'] = code35['volume']

In [40]:
rec06['48'] = code48['volume']

In [41]:
rec06['57'] = code57['volume']

In [42]:
rec06['58'] = code58['volume']

In [43]:
rec06['59'] = code59['volume']

In [44]:
rec06['60'] = code60['volume']

In [45]:
rec06['61'] = code61['volume']

In [46]:
rec06['62'] = code62['volume']

In [47]:
rec06['63'] = code63['volume']

In [48]:
rec06['64'] = code64['volume']

In [49]:
rec06['65'] = code65['volume']

In [50]:
rec06['66'] = code66['volume']

In [51]:
rec06['67'] = code67['volume']

In [52]:
rec06['68'] = code68['volume']

In [53]:
rec06['69'] = code69['volume']

In [54]:
rec06['70']  = code70['volume']

In [55]:
rec06['71'] = code71['volume']

In [56]:
rec06['72'] = code72['volume']

In [57]:
rec06

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 06,04-29-1989,08:00,NaN,NaN,NaN,NaN,NaN,NaN,161.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 06,04-29-1989,08:00,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 06,04-29-1989,08:00,NaN,18.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 06,04-29-1989,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 06,04-29-1989,12:00,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Patient 06,05-19-1989,08:00,NaN,18.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,Patient 06,05-20-1989,08:00,NaN,18.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,Patient 06,05-21-1989,08:00,NaN,18.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,Patient 06,05-22-1989,08:00,NaN,18.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,Patient 06,05-23-1989,08:00,NaN,18.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
patient_06

           date   time  code  volume
0    04-29-1989  08:00    58     161
1    04-29-1989  08:00    33       8
2    04-29-1989  08:00    34      18
3    04-29-1989  12:00    60     210
4    04-29-1989  12:00    33       3
..          ...    ...   ...     ...
144  05-19-1989  08:00    34      18
145  05-20-1989  08:00    34      18
146  05-21-1989  08:00    34      18
147  05-22-1989  08:00    34      18
148  05-23-1989  08:00    34      18

[149 rows x 4 columns]

In [59]:
rec06.to_csv(r'Prec06.csv', index = False)