In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_04 = pd.read_csv('Diabetes-Data/data-04',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_04[patient_04['code'] == 33]

In [5]:
code34 = patient_04[patient_04['code'] == 34]

In [6]:
code35 = patient_04[patient_04['code'] == 35]

In [7]:
code48 = patient_04[patient_04['code'] == 48]

In [8]:
code57 = patient_04[patient_04['code'] == 57]

In [9]:
code58 = patient_04[patient_04['code'] == 58]

In [10]:
code59 = patient_04[patient_04['code'] == 59]

In [11]:
code60 = patient_04[patient_04['code'] == 60]

In [12]:
code61 = patient_04[patient_04['code'] == 61]

In [13]:
code62 = patient_04[patient_04['code'] == 62]

In [14]:
code63 = patient_04[patient_04['code'] == 63]

In [15]:
code64 = patient_04[patient_04['code'] == 64]

In [16]:
code65 = patient_04[patient_04['code'] == 65]

In [17]:
code66 = patient_04[patient_04['code'] == 66]

In [18]:
code67 = patient_04[patient_04['code'] == 67]

In [19]:
code68 = patient_04[patient_04['code'] == 68]

In [20]:
code69 = patient_04[patient_04['code'] == 69]

In [21]:
code70 = patient_04[patient_04['code'] == 70]

In [22]:
code71 = patient_04[patient_04['code'] == 71]

In [23]:
code72 = patient_04[patient_04['code'] == 72]

In [24]:
code71

Empty DataFrame
Columns: [date, time, code, volume]
Index: []

In [25]:
rec04 = pd.read_csv('PatientRecords.csv')

In [26]:
rec04

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec04['date'] = patient_04['date']

In [28]:
rec04['id'] = 'Patient 04'

In [29]:
rec04['time'] = patient_04['time']

In [30]:
rec04['33'] = code33['volume']

In [31]:
rec04['34'] = code34['volume']

In [32]:
rec04['35'] = code35['volume']

In [33]:
rec04['48'] = code48['volume']

In [34]:
rec04['57'] = code57['volume']

In [35]:
rec04['58'] = code58['volume']

In [36]:
rec04['59'] = code59['volume']

In [37]:
rec04['60'] = code60['volume']

In [38]:
rec04['61'] = code61['volume']

In [40]:
rec04['62'] = code62['volume']

In [41]:
rec04['63'] = code63['volume']

In [42]:
rec04['64'] = code64['volume']

In [43]:
rec04['65'] = code65['volume']

In [44]:
rec04['66'] = code66['volume']

In [45]:
rec04['67'] = code67['volume']

In [46]:
rec04['68'] = code68['volume']

In [47]:
rec04['69'] = code69['volume']

In [48]:
rec04['70']  = code70['volume']

In [49]:
rec04['71'] = code71['volume']

In [50]:
rec04['72'] = code72['volume']

In [51]:
rec04

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 04,08-19-1990,17:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 04,08-19-1990,17:01,NaN,NaN,8.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 04,08-19-1990,22:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,94.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 04,08-20-1990,06:19,NaN,NaN,NaN,NaN,NaN,NaN,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 04,08-20-1990,06:21,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 04,09-25-1990,16:15,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 04,09-25-1990,16:15,NaN,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 04,09-26-1990,17:18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,319.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 04,09-26-1990,17:20,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 04,09-26-1990,17:20,NaN,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
patient_04

           date   time  code  volume
0    08-19-1990  17:00    62     104
1    08-19-1990  17:01    35       8
2    08-19-1990  22:09    64      94
3    08-20-1990  06:19    58      83
4    08-20-1990  06:21    33       3
..          ...    ...   ...     ...
295  09-25-1990  16:15    33       2
296  09-25-1990  16:15    34       8
297  09-26-1990  17:18    63     319
298  09-26-1990  17:20    33       2
299  09-26-1990  17:20    34       8

[300 rows x 4 columns]

In [54]:
rec04.to_csv('Prec04.csv')