In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_09 = pd.read_csv('Diabetes-Data/data-09',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_09[patient_09['code'] == 33]

In [5]:
code34 = patient_09[patient_09['code'] == 34]

In [6]:
code35 = patient_09[patient_09['code'] == 35]

In [7]:
code48 = patient_09[patient_09['code'] == 48]

In [8]:
code57 = patient_09[patient_09['code'] == 57]

In [9]:
code58 = patient_09[patient_09['code'] == 58]

In [10]:
code59 = patient_09[patient_09['code'] == 59]

In [11]:
code60 = patient_09[patient_09['code'] == 60]

In [12]:
code61 = patient_09[patient_09['code'] == 61]

In [13]:
code62 = patient_09[patient_09['code'] == 62]

In [14]:
code63 = patient_09[patient_09['code'] == 63]

In [15]:
code64 = patient_09[patient_09['code'] == 64]

In [16]:
code65 = patient_09[patient_09['code'] == 65]

In [17]:
code66 = patient_09[patient_09['code'] == 66]

In [18]:
code67 = patient_09[patient_09['code'] == 67]

In [19]:
code68 = patient_09[patient_09['code'] == 68]

In [20]:
code69 = patient_09[patient_09['code'] == 69]

In [21]:
code70 = patient_09[patient_09['code'] == 70]

In [22]:
code71 = patient_09[patient_09['code'] == 71]

In [23]:
code72 = patient_09[patient_09['code'] == 72]

In [24]:
code71

           date   time  code  volume
199  05-16-1990  10:00    71       0

In [25]:
rec09 = pd.read_csv('PatientRecords.csv')

In [26]:
rec09

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec09['date'] = patient_09['date']

In [28]:
rec09['id'] = 'Patient 09'

In [29]:
rec09['time'] = patient_09['time']

In [30]:
rec09['33'] = code33['volume']

In [31]:
rec09['34'] = code34['volume']

In [32]:
rec09['35'] = code35['volume']

In [33]:
rec09['48'] = code48['volume']

In [34]:
rec09['57'] = code57['volume']

In [35]:
rec09['58'] = code58['volume']

In [36]:
rec09['59'] = code59['volume']

In [37]:
rec09['60'] = code60['volume']

In [38]:
rec09['61'] = code61['volume']

In [39]:
rec09['62'] = code62['volume']

In [40]:
rec09['63'] = code63['volume']

In [41]:
rec09['64'] = code64['volume']

In [42]:
rec09['65'] = code65['volume']

In [43]:
rec09['66'] = code66['volume']

In [44]:
rec09['67'] = code67['volume']

In [45]:
rec09['68'] = code68['volume']

In [46]:
rec09['69'] = code69['volume']

In [47]:
rec09['70']  = code70['volume']

In [48]:
rec09['71'] = code71['volume']

In [49]:
rec09['72'] = code72['volume']

In [50]:
rec09

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 09,04-22-1990,18:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 09,04-22-1990,18:11,13.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 09,04-22-1990,22:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 09,04-22-1990,22:17,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 09,04-22-1990,22:17,NaN,15.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,Patient 09,05-17-1990,10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
202,Patient 09,05-19-1990,10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
203,Patient 09,05-18-1990,10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
204,Patient 09,05-17-1990,10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
205,Patient 09,05-19-1990,10:47,NaN,NaN,NaN,NaN,NaN,215.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_09

           date   time  code  volume
0    04-22-1990  18:08    62     213
1    04-22-1990  18:11    33      13
2    04-22-1990  22:14    64     102
3    04-22-1990  22:17    33       5
4    04-22-1990  22:17    34      15
..          ...    ...   ...     ...
201  05-17-1990  10:00    69       0
202  05-19-1990  10:00    68       0
203  05-18-1990  10:00    67       0
204  05-17-1990  10:00    66       0
205  05-19-1990  10:47    57     215

[206 rows x 4 columns]

In [52]:
rec09.to_csv(r'Prec09.csv', index = False)