In [1]:
import csv

In [2]:
import pandas as pd

In [7]:
patient_07 = pd.read_csv('Diabetes-Data/data-07',sep='\t', names=['date', 'time', 'code', 'volume'])

In [8]:
code33 = patient_07[patient_07['code'] == 33]

In [9]:
code34 = patient_07[patient_07['code'] == 34]

In [10]:
code35 = patient_07[patient_07['code'] == 35]

In [11]:
code48 = patient_07[patient_07['code'] == 48]

In [12]:
code57 = patient_07[patient_07['code'] == 57]

In [13]:
code58 = patient_07[patient_07['code'] == 58]

In [14]:
code59 = patient_07[patient_07['code'] == 59]

In [15]:
code60 = patient_07[patient_07['code'] == 60]

In [16]:
code61 = patient_07[patient_07['code'] == 61]

In [17]:
code62 = patient_07[patient_07['code'] == 62]

In [18]:
code63 = patient_07[patient_07['code'] == 63]

In [19]:
code64 = patient_07[patient_07['code'] == 64]

In [20]:
code65 = patient_07[patient_07['code'] == 65]

In [21]:
code66 = patient_07[patient_07['code'] == 66]

In [22]:
code67 = patient_07[patient_07['code'] == 67]

In [23]:
code68 = patient_07[patient_07['code'] == 68]

In [24]:
code69 = patient_07[patient_07['code'] == 69]

In [25]:
code70 = patient_07[patient_07['code'] == 70]

In [26]:
code71 = patient_07[patient_07['code'] == 71]

In [27]:
code72 = patient_07[patient_07['code'] == 72]

In [28]:
code71

Empty DataFrame
Columns: [date, time, code, volume]
Index: []

In [29]:
rec07 = pd.read_csv('PatientRecords.csv')

In [30]:
rec07

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [31]:
rec07['date'] = patient_07['date']

In [32]:
rec07['id'] = 'Patient 07'

In [33]:
rec07['time'] = patient_07['time']

In [34]:
rec07['33'] = code33['volume']

In [35]:
rec07['34'] = code34['volume']

In [40]:
rec07['35'] = code35['volume']

In [41]:
rec07['48'] = code48['volume']

In [42]:
rec07['57'] = code57['volume']

In [43]:
rec07['58'] = code58['volume']

In [44]:
rec07['59'] = code59['volume']

In [45]:
rec07['60'] = code60['volume']

In [46]:
rec07['61'] = code61['volume']

In [47]:
rec07['62'] = code62['volume']

In [48]:
rec07['63'] = code63['volume']

In [49]:
rec07['64'] = code64['volume']

In [50]:
rec07['65'] = code65['volume']

In [51]:
rec07['66'] = code66['volume']

In [52]:
rec07['67'] = code67['volume']

In [53]:
rec07['68'] = code68['volume']

In [54]:
rec07['69'] = code69['volume']

In [55]:
rec07['70']  = code70['volume']

In [56]:
rec07['71'] = code71['volume']

In [57]:
rec07['72'] = code72['volume']

In [58]:
rec07

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 07,03-27-1989,22:00,NaN,NaN,NaN,NaN,207.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 07,03-28-1989,08:00,NaN,NaN,NaN,NaN,NaN,NaN,187.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 07,03-28-1989,08:00,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 07,03-28-1989,08:00,NaN,18.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 07,03-28-1989,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,Patient 07,04-28-1989,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,Patient 07,04-29-1989,08:00,NaN,NaN,NaN,NaN,NaN,NaN,161.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,Patient 07,04-29-1989,08:00,NaN,18.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,Patient 07,04-30-1989,08:00,NaN,NaN,NaN,NaN,NaN,NaN,170.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,Patient 07,04-30-1989,08:00,NaN,18.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
patient_07

           date   time  code  volume
0    03-27-1989  22:00    48     207
1    03-28-1989  08:00    58     187
2    03-28-1989  08:00    33       7
3    03-28-1989  08:00    34      18
4    03-28-1989  12:00    60     230
..          ...    ...   ...     ...
237  04-28-1989  12:00    60     126
238  04-29-1989  08:00    58     161
239  04-29-1989  08:00    34      18
240  04-30-1989  08:00    58     170
241  04-30-1989  08:00    34      18

[242 rows x 4 columns]

In [60]:
rec07.to_csv(r'Prec07.csv', index = False)