In [1]:
import csv

In [2]:
import pandas as pd

In [3]:
patient_10 = pd.read_csv('Diabetes-Data/data-10',sep='\t', names=['date', 'time', 'code', 'volume'])

In [4]:
code33 = patient_10[patient_10['code'] == 33]

In [5]:
code34 = patient_10[patient_10['code'] == 34]

In [6]:
code35 = patient_10[patient_10['code'] == 35]

In [7]:
code48 = patient_10[patient_10['code'] == 48]

In [8]:
code57 = patient_10[patient_10['code'] == 57]

In [9]:
code58 = patient_10[patient_10['code'] == 58]

In [10]:
code59 = patient_10[patient_10['code'] == 59]

In [11]:
code60 = patient_10[patient_10['code'] == 60]

In [12]:
code61 = patient_10[patient_10['code'] == 61]

In [13]:
code62 = patient_10[patient_10['code'] == 62]

In [14]:
code63 = patient_10[patient_10['code'] == 63]

In [15]:
code64 = patient_10[patient_10['code'] == 64]

In [16]:
code65 = patient_10[patient_10['code'] == 65]

In [17]:
code66 = patient_10[patient_10['code'] == 66]

In [18]:
code67 = patient_10[patient_10['code'] == 67]

In [19]:
code68 = patient_10[patient_10['code'] == 68]

In [20]:
code69 = patient_10[patient_10['code'] == 69]

In [21]:
code70 = patient_10[patient_10['code'] == 70]

In [22]:
code71 = patient_10[patient_10['code'] == 71]

In [23]:
code72 = patient_10[patient_10['code'] == 72]

In [24]:
code71

Empty DataFrame
Columns: [date, time, code, volume]
Index: []

In [25]:
rec10 = pd.read_csv('PatientRecords.csv')

In [26]:
rec10

Empty DataFrame
Columns: [id, date, time, 33, 34, 35, 36, 48, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
Index: []

[0 rows x 24 columns]

In [27]:
rec10['date'] = patient_10['date']

In [28]:
rec10['id'] = 'Patient 10'

In [29]:
rec10['time'] = patient_10['time']

In [30]:
rec10['33'] = code33['volume']

In [31]:
rec10['34'] = code34['volume']

In [32]:
rec10['35'] = code35['volume']

In [33]:
rec10['48'] = code48['volume']

In [34]:
rec10['57'] = code57['volume']

In [35]:
rec10['58'] = code58['volume']

In [36]:
rec10['59'] = code59['volume']

In [37]:
rec10['60'] = code60['volume']

In [38]:
rec10['61'] = code61['volume']

In [39]:
rec10['62'] = code62['volume']

In [40]:
rec10['63'] = code63['volume']

In [41]:
rec10['64'] = code64['volume']

In [42]:
rec10['65'] = code65['volume']

In [43]:
rec10['66'] = code66['volume']

In [44]:
rec10['67'] = code67['volume']

In [45]:
rec10['68'] = code68['volume']

In [46]:
rec10['69'] = code69['volume']

In [47]:
rec10['70']  = code70['volume']

In [48]:
rec10['71'] = code71['volume']

In [49]:
rec10['72'] = code72['volume']

In [50]:
rec10

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 10,02-18-1989,08:00,NaN,NaN,NaN,NaN,NaN,NaN,161.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 10,02-18-1989,08:00,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 10,02-18-1989,08:00,NaN,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 10,02-18-1989,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 10,02-18-1989,18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,Patient 10,03-23-1989,18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,Patient 10,03-23-1989,18:00,4.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Patient 10,03-23-1989,22:00,NaN,NaN,NaN,NaN,399.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,Patient 10,03-23-1989,22:00,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,Patient 10,03-23-1989,22:00,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
patient_10

           date   time  code  volume
0    02-18-1989  08:00    58   161.0
1    02-18-1989  08:00    33     2.0
2    02-18-1989  08:00    34     8.0
3    02-18-1989  12:00    60    72.0
4    02-18-1989  18:00    62   270.0
..          ...    ...   ...     ...
242  03-23-1989  18:00    62   180.0
243  03-23-1989  18:00    33     4.5
244  03-23-1989  22:00    48   399.0
245  03-23-1989  22:00    33     3.0
246  03-23-1989  22:00    34     2.0

[247 rows x 4 columns]

In [52]:
rec10.to_csv(r'Prec10.csv', index = False)