In [1]:
import csv

import pandas as pd

patient_63 = pd.read_csv('Diabetes-Data/data-63',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_63[patient_63['code'] == 33]

code34 = patient_63[patient_63['code'] == 34]

code35 = patient_63[patient_63['code'] == 35]

code48 = patient_63[patient_63['code'] == 48]

code57 = patient_63[patient_63['code'] == 57]

code58 = patient_63[patient_63['code'] == 58]

code59 = patient_63[patient_63['code'] == 59]

code60 = patient_63[patient_63['code'] == 60]

code61 = patient_63[patient_63['code'] == 61]

code62 = patient_63[patient_63['code'] == 62]

code63 = patient_63[patient_63['code'] == 63]

code64 = patient_63[patient_63['code'] == 64]

code65 = patient_63[patient_63['code'] == 65]

code66 = patient_63[patient_63['code'] == 66]

code67 = patient_63[patient_63['code'] == 67]

code68 = patient_63[patient_63['code'] == 68]

code69 = patient_63[patient_63['code'] == 69]

code70 = patient_63[patient_63['code'] == 70]

code71 = patient_63[patient_63['code'] == 71]

code72 = patient_63[patient_63['code'] == 72]

code71

rec63 = pd.read_csv('PatientRecords.csv')

rec63

rec63['date'] = patient_63['date']

rec63['id'] = 'Patient 63'

rec63['time'] = patient_63['time']

rec63['33'] = code33['volume']

rec63['34'] = code34['volume']

rec63['35'] = code35['volume']

rec63['48'] = code48['volume']

rec63['57'] = code57['volume']

rec63['58'] = code58['volume']

rec63['59'] = code59['volume']

rec63['60'] = code60['volume']

rec63['61'] = code61['volume']

rec63['62'] = code62['volume']

rec63['63'] = code63['volume']

rec63['64'] = code64['volume']

rec63['65'] = code65['volume']

rec63['66'] = code66['volume']

rec63['67'] = code67['volume']

rec63['68'] = code68['volume']

rec63['69'] = code69['volume']

rec63['70']  = code70['volume']

rec63['71'] = code71['volume']

rec63['72'] = code72['volume']

rec63

patient_63

rec63.to_csv(r'Prec63.csv', index = False)

In [2]:
rec63

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 63,07-26-1991,22:04,13.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 63,07-27-1991,10:24,NaN,NaN,NaN,NaN,NaN,NaN,305.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 63,07-27-1991,10:26,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 63,07-27-1991,10:26,NaN,NaN,16.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 63,07-27-1991,14:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 63,08-29-1991,05:52,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 63,08-29-1991,05:52,NaN,NaN,16.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 63,08-29-1991,12:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 63,08-29-1991,13:23,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 63,08-29-1991,16:32,NaN,NaN,NaN,NaN,NaN,179.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_63

           date   time  code  volume
0    07-26-1991  22:04    33      13
1    07-27-1991  10:24    58     305
2    07-27-1991  10:26    33      14
3    07-27-1991  10:26    35      16
4    07-27-1991  14:32    60      72
..          ...    ...   ...     ...
295  08-29-1991  05:52    33      14
296  08-29-1991  05:52    35      16
297  08-29-1991  12:50    60     185
298  08-29-1991  13:23    33       9
299  08-29-1991  16:32    57     179

[300 rows x 4 columns]