In [1]:
import csv

import pandas as pd

patient_58 = pd.read_csv('Diabetes-Data/data-58',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_58[patient_58['code'] == 33]

code34 = patient_58[patient_58['code'] == 34]

code35 = patient_58[patient_58['code'] == 35]

code48 = patient_58[patient_58['code'] == 48]

code57 = patient_58[patient_58['code'] == 57]

code58 = patient_58[patient_58['code'] == 58]

code59 = patient_58[patient_58['code'] == 59]

code60 = patient_58[patient_58['code'] == 60]

code61 = patient_58[patient_58['code'] == 61]

code62 = patient_58[patient_58['code'] == 62]

code63 = patient_58[patient_58['code'] == 63]

code64 = patient_58[patient_58['code'] == 64]

code65 = patient_58[patient_58['code'] == 65]

code66 = patient_58[patient_58['code'] == 66]

code67 = patient_58[patient_58['code'] == 67]

code68 = patient_58[patient_58['code'] == 68]

code69 = patient_58[patient_58['code'] == 69]

code70 = patient_58[patient_58['code'] == 70]

code71 = patient_58[patient_58['code'] == 71]

code72 = patient_58[patient_58['code'] == 72]

code71

rec58 = pd.read_csv('PatientRecords.csv')

rec58

rec58['date'] = patient_58['date']

rec58['id'] = 'Patient 58'

rec58['time'] = patient_58['time']

rec58['33'] = code33['volume']

rec58['34'] = code34['volume']

rec58['35'] = code35['volume']

rec58['48'] = code48['volume']

rec58['57'] = code57['volume']

rec58['58'] = code58['volume']

rec58['59'] = code59['volume']

rec58['60'] = code60['volume']

rec58['61'] = code61['volume']

rec58['62'] = code62['volume']

rec58['63'] = code63['volume']

rec58['64'] = code64['volume']

rec58['65'] = code65['volume']

rec58['66'] = code66['volume']

rec58['67'] = code67['volume']

rec58['68'] = code68['volume']

rec58['69'] = code69['volume']

rec58['70']  = code70['volume']

rec58['71'] = code71['volume']

rec58['72'] = code72['volume']

rec58

patient_58

rec58.to_csv(r'Prec58.csv', index = False)

In [2]:
rec58

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 58,08-22-1990,05:29,NaN,NaN,NaN,NaN,NaN,NaN,283.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 58,08-22-1990,05:32,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 58,08-22-1990,05:32,NaN,NaN,12.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 58,08-22-1990,11:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 58,08-22-1990,11:52,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 58,09-20-1990,05:54,NaN,12.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 58,09-20-1990,12:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 58,09-20-1990,12:05,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 58,09-20-1990,20:07,NaN,NaN,NaN,NaN,NaN,209.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 58,09-20-1990,20:09,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_58

           date   time  code  volume
0    08-22-1990  05:29    58     283
1    08-22-1990  05:32    33       4
2    08-22-1990  05:32    35      12
3    08-22-1990  11:50    60      85
4    08-22-1990  11:52    33       2
..          ...    ...   ...     ...
295  09-20-1990  05:54    34      12
296  09-20-1990  12:03    60     202
297  09-20-1990  12:05    33       4
298  09-20-1990  20:07    57     209
299  09-20-1990  20:09    33       5

[300 rows x 4 columns]